/*
 *  FILENAME: static/about
 */
.aboutUs {
	article {
		p {
			margin-bottom: 1.2em;
		}
	}
 	aside {
		header h1 {
			font-size: $font-size * .875;
		}
		div.row {
			margin: .875em auto;
			a {
				color: $main-blue;
				font-size: $font-size * .75;
				text-indent: $font-size;
				margin:($font-size * .5) 0 0 ($font-size * .5);
				padding: .2em 0 0 .2em;
			}
		}
		figcaption {
			font-size: $font-size;
			padding-left: $font-size * .5;
			span {
				display: block;
				font-size: $font-size * .5;
				padding-top: $font-size * .25;
			}
		}
	}
}