//*  FILENAME: static/home
 
.homepage {
	.home_featurePost {
		margin: ($font-size * .5) auto;
		h1 {
			border-bottom: 1px solid $lt-grey;
			margin-bottom: ($font-size * .25);
			padding-bottom: ($font-size * .125);
		}
	}
	.row > .col6 > .row > .col4.pull_left.white_well {
		margin-top: 1em;
	}
	.homeSignedIn > .col4 > .row:last-child {
		font-size: .618em;
		line-height: $leading;
		margin-top: $font-size;
		a {
			color: darken($main-yellow, 15%);
			span {
				color: $main-grey;
			}
		}
	}
	.homeNotSignedIn {
		h1 {
			#{$ff}text-shadow: 0 1px 0 rgba($black, .15);
			#{$wk}text-shadow: 0 1px 0 rgba($black, .15);
			text-shadow: 0 1px 0 rgba($black, .15);
			text-align: center;
			padding-bottom: 0;
		}
	}

	// CMK we'll need to refactor this, but for now..
	.secondary_inner{
		.ss-compose, .ss-notebook {
			width: 47.5%;
		}
		.headline{
			text-align: center;
		}
	}
	.wrong-user {
		font-size: $small-font;
		line-height: $leading;
		margin-top: $font-size;
		a {
			color: $main-blue;
			span {
				color: $main-grey;
			}
		}
	}
}

.app-link{
	margin-top: 40px;
	margin-bottom: 20px;
	text-align: center;
}