<% provide(:title, 'About Us') %>
<section class="wrapper">
	<header>
		<h1>About Us</h1>
		<p>About Us</p>
	</header>
	
	<article>
		<p>Find me in app/views/static_pages/about.html.erb</p>
	</article>
</section>	
