<% provide(:title, 'Contact') %>
<section class="wrapper">
	<header>
		<h1>Contact</h1>
		<p>Contact</p>
	</header>
	
	<article>
		<p>Thank you for your interest in Slinggit. Please submit the information below and we will contact you as soon as possible.</p>
	</article>
	
	<article>
		<form>
	         <fieldset>
	             <input type="email" size="100" placeholder="Name" name="emailAddress" />
	         </fieldset>
	         <fieldset>
	             <input type="email" size="100" placeholder="Email Address" name="emailAddress" />
	         </fieldset>
	         <fieldset>
	             <textarea type="text" size="100" placeholder="Message" name="description" /></textarea>
	         </fieldset>
	         <fieldset>
	             <input type="button" for="inputSmall" value="Send" class="submitBTN">
	         </fieldset>
	     </form>
	</article>
</section>