<% provide(:title, 'Banned') %>
<header class="row">
	<h1 class="col4 offset1">You have been banned so hard!</h1>
</header>

<div class="row">
	<p class="col4 offset1">If you feel you have reached this page in error, please contact customer support.</p>
</div>

<div class="row">
	<div class="col4 offset1">
  	<iframe width="640" height="480" src="http://www.youtube.com/embed/Dh5CiNKOaHY?autoplay=1&rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>