<% provide(:title, 'Help') %>
<h1>Help Center</h1>
<div class="well-white">

	<h2>Check our blog</h2>
	<p>Our blog is a great resource for you to see what new with slinggit and how we're using it in new and exciting ways.</p>

	<section id="faq">
		<h2>FAQ</h2>
		<section id="yes">
			<h3>Consider the answer is YES! to all of your following questions</h3>

			<article>
				<p>Is slinggit easy to use, quick, and fairly self explanitory?</p>
			</article>

			<article>
				<p>So, I just use a picture from my iPhone or desktop enter a short description of what it is I want to sell. Post it. And now it's out on Twitter for the world to see?</p>
			</article>

			<article>
				<p>I have multiple twitter accouts.  Am I able to sling to more than one of them?</p>
			</article>

			<article>
				<p>Am I able to control which twitter accounts each post tweets to?</p>
			</article>


			<article>
				<p>I'm a small business owner.  Is slinggit something I can use to, say, post weekly or daily specials to my business' Twitter feed?</p>
			</article>

		</section>

		<section id="no">
			<h3>We hate saying no, but...</h3>

			<article>
				<p>Does slinggit solve world hunger?</p>
			</article>

			<article>
				<p>Do I need a twitter account in order to use slinggit?</p>
			</article>

			<article>
				<p>Can I use slinggit with Facebook? (well, not yet at least)</p>
			</article>

		</section>
	</section>
</div>	