<% provide(:title, 'Help') %>
<section class="wrapper getHelp">
	<header class="row">
		<h1 class="bottom_border">Help Center</h1>
	</header>
	
	<article class="col4 pull_left">
		
		<div class="row grey_well">
			<h2>Check our blog</h2>
			<p>Our blog is a great resource for you to see what new with slinggit and how we're using it in new and exciting ways.</p>
		</div>
		
		<div class="row grey_well">
			<h2>FAQ</h2>
			<div class="col3 pull_left white_well">			
				<p>Consider the answer is YES! to all of your following questions</p>
				<p>Is slinggit easy to use, quick, and fairly self explanitory?</p>	
				<p>So, I just use a picture from my iPhone or desktop enter a short description of what it is I want to sell. Post it. And now it's out on Twitter for the world to see?</p>
				<p>I have multiple twitter accouts.  Am I able to sling to more than one of them?</p>
				<p>Am I able to control which twitter accounts each post tweets to?</p>
				<p>I'm a small business owner.  Is slinggit something I can use to, say, post weekly or daily specials to my business' Twitter feed?</p>
			</div>
			<div class="col3 pull_right white_well">
				<h3>We hate saying no, but...</h3>
				<p>Does slinggit solve world hunger?</p>
				<p>Do I need a twitter account in order to use slinggit?</p>
				<p>Can I use slinggit with Facebook? (well, not yet at least)</p>
			</div>
		</div>
		
	</article>
</section>	