<% provide(:title, 'Home') %>
<section class="wrapper">

  <div class="page_col twoCol">
    <% if current_user.blank? %>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum consequat sapien vel molestie. Aliquam
          at massa arcu. Mauris volutpat.</p>
        <% if system_preferences[:invitation_only] == "on" %>
            <%= link_to "Request Invitation", {:controller => :users, :action => :request_invitation}, class: "btn_large" %>
        <% else %>
            <%= link_to "Sign up now!", signup_path, class: "btn_large" %>
        <% end %>
    <% elsif not current_user.blank? %>
        <p>Welcome back <%= current_user.name %>!</p>

        <p>Got some old junk laying
          around?  <%= link_to "Slinggit", new_post_path, class: "btn_large" %></p>
    <% end %>

    <!-- BEGIN IMAGE CYCLE CODE -->

    <script type="text/javascript" src="http://malsup.github.com/jquery.cycle.all.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#iphoneDemo').cycle({
                fx:'fade'
            });
        })
    </script>
    <div class="pics" id="iphoneDemo">
      <img src="assets/images/iphone_demo/main.png"/>
      <img src="assets/images/iphone_demo/createaccount.png"/>
      <img src="assets/images/iphone_demo/signin.png"/>
      <img src="assets/images/iphone_demo/newpost.png"/>
    </div>

    <!-- END IMAGE CYCLE CODE -->

  </div>

  <style type="text/css">
      .pics {
          height: 255px;
          width: 500px;
          margin-left: 150px;
          margin-top: -20px;
      }

      .pics img {
          border: 1px solid #ccc;
          background-color: #eee;
          width: 255px;
          height: 500px;
          top: 0;
          left: 0
      }
  </style>

  <div class="page_col twoCol">
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script type="text/javascript">
        new TWTR.Widget({
            version:2,
            type:'profile',
            rpp:20,
            interval:30000,
            width:'auto',
            height:550,
            theme:{
                shell:{
                    background:'#f8f8f8',
                    color:'#777777'
                },
                tweets:{
                    background:'#f8f8f8',
                    color:'#777777',
                    links:'#488de2'
                }
            },
            features:{
                scrollbar:true,
                loop:false,
                live:true,
                behavior:'all'
            }
        }).render().setUser('slinggit').start();
    </script>
  </div>
</section>
