<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>slinggit</h1>
  <% if current_user.blank? %>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  <% elsif not current_user.blank? %>
      <p>Welcome back <%= current_user.name %>!</p>

      <p>Got some old junk laying
        around?  <%= link_to "Slinggit", new_post_path, class: "btn btn-large btn-primary" %></p>
  <% end %>
</div>

<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
    $(document).ready(function () {
        $('#twtr-widget-1').css('padding-left', '270px')
        $('.footer').css('padding-top', '50px')
    });

    new TWTR.Widget({
        version:2,
        type:'profile',
        rpp:4,
        interval:30000,
        width:400,
        height:200,
        theme:{
            shell:{
                background:'#333333',
                color:'#ffffff'
            },
            tweets:{
                background:'#000000',
                color:'#ffffff',
                links:'#4aed05'
            }
        },
        features:{
            scrollbar:false,
            loop:true,
            live:true,
            behavior:'all'
        }
    }).render().setUser('slinggit').start();

</script>
