<% provide(:title, 'Home') %>
<section class="wrapper">

  <div class="page_col twoCol">
    <header>
      <h1>slinggit</h1>

      <p>slinggit</p>
    </header>

    <!-- <form class="page_search">
         <input type="text" size="100" placeholder="search" name="search" />
         <input type="button" for="search" value="Submit">
         </form> -->
    <% if current_user.blank? %>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum consequat sapien vel molestie. Aliquam
          at massa arcu. Mauris volutpat.</p>
        <%= link_to "Sign up now!", signup_path, class: "btn_large" %>
    <% elsif not current_user.blank? %>
        <p>Welcome back <%= current_user.name %>!</p>

        <p>Got some old junk laying
          around?  <%= link_to "Slinggit", new_post_path, class: "btn_large" %></p>
    <% end %>
  </div>

  <div class="page_col twoCol">
    <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script type="text/javascript">
        new TWTR.Widget({
            version:2,
            type:'profile',
            rpp:20,
            interval:30000,
            width:'auto',
            height:550,
            theme:{
                shell:{
                    background:'#f8f8f8',
                    color:'#777777'
                },
                tweets:{
                    background:'#f8f8f8',
                    color:'#777777',
                    links:'#488de2'
                }
            },
            features:{
                scrollbar:true,
                loop:false,
                live:true,
                behavior:'all'
            }
        }).render().setUser('slinggit').start();
    </script>
  </div>
</section>
