<% provide(:title, 'Contact') %>
<center><h1>Your account is currently suspended due to a terms of service violation.</h1>
<p>If you feel you have reached this page in error, please contact customer support.</p></center>