<% provide(:title, "Messages") %>
<section id="userMessages" class="wrapper">

  <section id="msgArticles" class="col4 pull_left">

    <div class="row title_row">
      <header>
        <h1>Messages (<%= @unread %>)</h1>
        <p>Messages (<%= @unread %>)</p>
      </header>
    </div>

    <div id="msgArticleWrapper">
        <% if @messages.any? %>
          <%= render @messages %>
          <%= will_paginate @messages %>
        <% else %>
          No messages
        <% end %>
    </div>

  </section>

</section>

