#mainHeader {
		background: $main-blue;
		#{$ff}box-shadow: $head-shadow;
		#{$o}box-shadow: $head-shadow;
		#{$wk}box-shadow: $head-shadow;
		box-shadow: $head-shadow;
	.wrapper > .row:first-child {
		width: $sixCols * 4;
		float: left;
	}
	.wrapper > .row {
		padding-top: .5em;
	}
	hgroup {
		width: ($sixCols * .875);
		min-height: 0;
		a.row {
			margin-top: -.625em;
		}
		+ .col4.pull_left {
			width: 60%;
			margin-left: 2.5%;
		}
	}
	hgroup + .col4.pull_left .nav_dropDown.dropdown-menu,
	.col2 + .col4.pull_left .nav_dropDown.dropdown-menu {
		right: auto;
		top: 4.125em;
	}
	hgroup + .col4.pull_left > .row > .col2,
	.col2 + .col4.pull_left > .row > .col2 {
		width: $sixCols * 2;
		font-size: ($font-size * .5);
		padding-top: 1em;
		padding-bottom: .5em;
			.btn_navPosts,
			.btn_navMessages,
			.btn_navSettings {
				display: inline-block;
				vertical-align: middle;
				margin: 0 auto;
			}
	}
	.quickSearchLabel {
		display: none;
	}
	.hideSearch {
		display: inline-block;
	}
	#quickSearchWrapper {
		background: transparent;
		border-bottom: none;
		#{$o}box-shadow: none;
		#{$ff}box-shadow: none;
		#{$wk}box-shadow: none;
		box-shadow: none;
		width: $sixCols * 2;
		float: right;
		padding-left: 10px;
		> .col3.pull_right {
			float: right;
			margin: -1em 0 0 0;
			width: 100%;
			input[name="quickSearch"] {
			
			}
		}
	}
	hgroup + #header_signUp {
	width: 85%;
	margin-left: 0;
	}
}