<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Hi there <%= @user.name %></h1>,
<p>
  We received a request to help you recover your forgotten password.  Please follow the link below and you will be on your way.
</p>
<p>
   <%= url_for :controller => :users, :action => :enter_new_password, :id => @user.password_reset_code, :only_path => false, :host => HOSTURL  %>
</p>
<p>If you did not submit a request to reset your password, please contact customer service immediately.</p>
<p>Sincerely,</p>

<p>Your friends at Slinggit</p>
</body>
</html>