<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>
  <strong>Caught exception!</strong> <%= @problem_report.exception_message %>
</p>

<p>
  <% if not @problem_report.signed_in_user_id.blank? %>
      <strong>Signed in user id:</strong> <%= @problem_report.signed_in_user_id %><br/>
  <% else %>
      <strong>No signed in user</strong>
  <% end %>
</p>

<p>
  <strong>Exception Class:</strong> <%= @problem_report.exception_class %><br/><br/>
  <strong>Exception Backtrace:</strong><br/>
  <%= @problem_report.exception_backtrace.join("<br />") %>
</p>
</body>
</html>
