<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>
  Caught exception! <%= @exception.message %>
</p>
<br/>
<p>
  <%= @exception.backtrace.join("\n") %>
</p>
</body>
</html>