<% provide(:title, 'Admin') %>
<div class="wrapper">
  <div class="page_col twoCol">
    <header>
      <h1>Admin Tools</h1>
    </header>
    <div id='adminIndexList'>
      <ul class="adminList">
        <li><a href="admin/view_database">View Database</a></li>
        <li><a href="admin/view_users">View Users</a></li>
        <li><a href="admin/view_images">View Uploaded Images</a></li>
      </ul>
    </div>
  </div>
</div>
