<% if not @image_datas.blank? %>
    <div id=imageContent>
      <% @image_datas.each do |image_data| %>
          <script type="text/javascript">
              window.createPhotoArticle($('#imageContent'))
          </script>
      <% end %>
    </div>
<% else %>
    <div>No Images Available</div>
<% end %>



<!-- Chase feel free to delete these when you style this to work on mobile as well. -->

<style type="text/css">
    a {
        float: left;
        padding: 1px;;
    }

    #workingDiv {
        font-size: 20px;
        color: red;
        text-decoration: blink;
        margin-bottom: 20px;
    }

    #errorDiv {
        font-size: 20px;
        color: red;
        margin-bottom: 20px;
    }

    #doneDiv {
        font-size: 20px;
        color: green;
        margin-bottom: 20px;
    }
</style>