<section class="row wrapper">
	<div class="white_well col4">
		<header class="row">
			<h1>Comment (<%= @comment.id %>)</h1>
		</header>
		<article class="row">
			<p><%= @comment.body %>
		</article>
		<div class="row admin_controlls">

		</div>
	</div>
</section>