.message {
  article {
    &> .row {
      padding: ($font-size * .2) 0;
      margin: ($font-size * .2) auto;
      width: 98%;
      &:first-child {
        margin-top: -($font-size * .5);
      }
    }
    small, dl {
      font-size: ($font-size * .8);
    }
    dl {
      border-bottom: 1px solid $lt-grey;
    }

    p.title{
      font-weight: bold;
    }
  }
}