<% provide(:title, "Reset Password") %>

<section class="wrapper page_col singleWide">
  <header>
    <h1>Reset Password</h1>
    <p>Reset Password</p>
  </header>

  <%= form_tag('/users/password_reset') do |f| %>
      <fieldset class="page_col twoCol">
        <%= label_tag :email, 'Email', class: "control-label", for: "session_email" %>
        <%= text_field_tag :email, nil, class: "input-xlarge" %>
      </fieldset>
      <%= submit_tag "Email reset code", class: "btn_large" %>
  <% end %>
</section>
