<% provide(:title, "Reset Password") %>

<section class="wrapper page_col singleWide">
  <header>
    <h1>Request Password Reset Instructions</h1>
    <p>Request Password Reset Instructions</p>
  </header>

  <%= form_tag('/users/password_reset') do |f| %>
      <fieldset>
        <%= text_field_tag :email_or_username, @email_or_username, :placeholder => 'Email or Username', class: "input-xlarge" %>
      </fieldset>
      <div>
        <%= submit_tag "Send Reset Instructions", class: "btn_large" %>
      </div>
  <% end %>

</section>
