<article class="col2">
	<header class="col3 pull_left">
		<h1><%= current_user.name %></h1>
  	<h6><%= pluralize(current_user.posts.count, "post") %></h6>
	</header>
	<a href="<%= user_path(current_user) %>" class="col3 pull_right"><%= gravatar_for current_user %></a>
</article>