<article>
	<header>
		<h1><%= current_user.name %></h1>
  	<h6><%= pluralize(current_user.posts.count, "post") %></h6>
	</header>
	<a href="<%= user_path(current_user) %>"><%= gravatar_for current_user %></a>
</article>