<aside class="col2 pull_right userInfo">
	<div class="white_well row">
		<a href="<%= user_path(current_user) %>" class="col2 pull_left">
			<%= image_tag current_user.profile_photo_url, :height => "auto", :width => "100%" %>
		</a>
		<header class="col4 pull_right">
			<h1 class="bottom_border"><%= current_user.name %></h1>
  			<h6><%= pluralize(current_user.active_post_count, "post") %></h6>
		</header>
	</div>
</aside>