/* SLINGGIT VISUAL STYLESHEET */
/* Date: May 5, 2012 */
/* Author: @chasecourington */

/* -- RESET -- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* -- END -- */

/* -- COLOR VARIABLES -- */
$main-grey: rgb(119, 119, 119);
$main-red: rgb(253, 65, 40);
$main-yellow: rgb(255, 183, 40);
$main-blue: rgb(72, 141, 226);
$main-green: rgb(75, 192, 75);
$lt-grey: rgb(219, 219, 219);
$wht: rgb(248, 248, 248);

/* -- SHADOWS -- */
$head-shadow: 0 1px 1px rgba(0, 0, 0, .6), inset 0 -1px 0 rgba(255, 255, 255, .25), inset 0 3px 13px rgba(0, 0, 0, .15);

/* -- BORDER RADIUS -- */
$border-size: .5em;

/* -- VENDOR PREFIXES -- */
$ff: -moz-;
$wk: -webkit-;
$ms: -ms-;
$o: -o-;

/* -- TRANSITIONS -- */
$tranny: all .3s ease;

/* -- FONTS -- */
$main-font: 'helvetica neue', helvetica, arial, sans-serif;
$input-font: 1.6em;
$txt-shdw: 0 1px 0 rgba(0, 0, 0, .2);

/* -- INPUT FIELDS -- */
$padding: .4em .6em;
$input-txt-shading: 0 -1px 0 rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, .8);
$input-focus-shdw: 0 0 8px rgba(72, 141, 226, .5);
$btn-shading: 0 1px 1px rgba(0, 0, 0, .25), inset 0 1px 1px rgba(255, 255, 255, .25);
$btn-txt-shading: 0 -1px 0 rgba(0, 0, 0, .25), 0 0 8px rgba(255, 255, 255, .25);
$btn-focus: inset 0 0 1px rgba(0, 0, 0, .25), 0 0 2px rgba(255, 255, 255, .75);
$btn-focus-txt: 0 1px 0 rgba(0, 0, 0, .25), 0 0 8px rgba(0, 0, 0, .25);
$btn-active: inset 0 0 1px rgba(0, 0, 0, .5), 0 0 2px rgba(255, 255, 255, .75);
$btn-active-txt:  0 0 8px rgba(0, 0, 0, .75);

body {
	font-family: $main-font;
	overflow-x: hidden;
	background: url("../images/textures/texture_tile_97x157.png") repeat top left;
	box-shadow: inset 0 0 72px rgba(0, 0, 0, .25);
	min-height: 1024px;
}
#wrapper {
	min-width: 840px;
	font-size: 62.5%;
}
.stylesheet {
	margin: 0 0 1.2em 0;
}
header {
	width: 100%;
	overflow: hidden;
	background: $main-blue;
	box-shadow: $head-shadow;
		h1 {
		text-indent: -99999px;
		}
		img {
		width: 20%;
		float: left;
		margin: .2em 35% .2em 5%;
		}
		nav {
		font-size: $input-font;
		color: $wht;
		text-shadow: $txt-shdw;
		float: left;
		overflow: hidden;
			ul {
				li {
				float: left;
				margin: .5em 1em;
					input[type="text"] {
					font-size: .6em;
					border-radius: $border-size;
					margin-left: 0;
					width: 100%;
					}
				}
			}
		}
}
input[type="text"] {
	width: 33%;
	padding: .4em .6em;
	margin-left: 33%;
	font-size: $input-font;
	font-family: $main-font;
	color: $main-grey;
	border: 1px solid $lt-grey;
	border-top-left-radius: $border-size;
	border-bottom-left-radius: $border-size;
	box-shadow: $input-txt-shading;
	#{$wk}transition: $tranny;
		&:focus {
		outline: none;
		box-shadow: $input-focus-shdw;
		border: 1px solid $main-blue;
		}
}
input[type="password"],
input[type="email"],
textarea {
	width: 33%;
	padding: .4em .6em;
	margin-left: 33%;
	font-size: $input-font;
	font-family: $main-font;
	color: $main-grey;
	border: 1px solid $lt-grey;
	border-radius: $border-size;
	box-shadow: $input-txt-shading;
	#{$wk}transition: $tranny;
		&:focus {
		outline: none;
		box-shadow: $input-focus-shdw;
		border: 1px solid $main-blue;
		}
}
textarea {
	resize: none;
	height:6.3em;
}
input[type="button"] {
	background: $main-green;
	padding: .4em;
	margin: 0 0 0 -.2em;
	font-size: $input-font;
	font-family: $main-font;
	color: $wht;
	border-top-right-radius: $border-size;
	border-bottom-right-radius: $border-size;
	border: 1px solid $main-grey;
	cursor: pointer;
	box-shadow: $btn-shading;
	text-shadow: $btn-txt-shading;
	#{$wk}transition: $tranny;
	&:hover,
	&:focus {
		box-shadow: $btn-focus;
		text-shadow: $btn-focus-txt;
		outline:none;
	}
	&:active {
		box-shadow: $btn-active;
		text-shadow: $btn-active-txt;
	}
}
input.submitBTN {
	background: $main-green;
	padding: .4em;
	margin: 0 0 0 33%;
	font-size: $input-font;
	font-family: $main-font;
	color: $wht;
	border-radius: $border-size;
	border: 1px solid $main-grey;
	cursor: pointer;
	box-shadow: $btn-shading;
	text-shadow: $btn-txt-shading;
	#{$wk}transition: $tranny;
	&:hover,
	&:focus {
		box-shadow: $btn-focus;
		text-shadow: $btn-focus-txt;
		outline:none;
	}
	&:active {
		box-shadow: $btn-active;
		text-shadow: $btn-active-txt;
	}
}