// Date Revised: May 30, 2012
// Author: chase courington & chris klein

body {
//	height: 100%;
  font-family: $main-font;
  //overflow-x: hidden;
  //box-shadow: inset 0 0 72px rgba(0, 0, 0, .25);
  background: $lt-grey;
  color: $dk-grey;
}
//WEB FONTS FOR HEADLINES
.headline {
	font-family: /*'Nixie One',*/ /*'Alfa Slab One',*/ /*'Arvo',*/ 'Rokkitt', 'helvetica neue', helvetica, arial, sans-serif;
	color: $main-blue;
	text-rendering: optimizelegibility;
	letter-spacing: .05em;
}
//.headline_bold {
//	@extend .headline;
//	font-size: 7.2em;
//	letter-spacing: .03em;
//	line-height: ($leading * .875);
//}
//END
//COLUMNS and OFFSETS
.col1 {
	width: $sixCols;
	display: inline-block;
}
.col2 {
	width: ($sixCols * 2);
	display: inline-block;
}
.col3 {
	width: ($sixCols * 3);
	display: inline-block;
}
.col4 {
	width: ($sixCols * 4);
	display: inline-block;
}
.col5 {
	width: ($sixCols * 5);
	display: inline-block;
}
.col6 {
	width: 100%;
	display: block;
}

.offset1 {
 margin-left: $sixCols;
}
.offset2 {
 margin-left: ($sixCols * 2);
}
.offset3 {
  margin-left: ($sixCols * 3);
}
.offset4 {
  margin-left: ($sixCols * 4);
}
.offset5 {
  margin-left: ($sixCols * 5);
}

//RIGHT or LEFT
.pull_right {
	float: right;
}
.pull_left {
	float: left;
}

// The following few classes represent the two column layout we'll use for most of
// the app and will be used to help layout new off-canvas design on mobile
.main{
	@extend .col4;
	@extend .pull_right;
	@extend .white_well;
	margin-top: 1em;
}
.secondary{
	@extend .col2;
	@extend .pull_left;
	margin-top: 1em;
	padding-right: 1em;
}
.secondary_inner{
	@extend .white_well;
	vertical-align: top;

	// Not sure if we want this nested or not.  Leaving it for now
	.secondary_actions{
		margin-top: 1.8em;
	}
}

.well{
	@include white-well;
	border: none;
  	background-color: transparent;
}
.grey_well {
	@include white-well;
  	background-color: $wht;
}

.white_well {
	@include white-well;
}

.margin-top {
  margin-top: 10px;
}

.top_border {
	border-top: 1px solid #e8e8e8;
	padding-top: .125em;
	margin-top: .5em;
}

.bottom_border {
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: .125em;
	margin-bottom: .5em;
}

.left_border {
	border-left: 1px solid #e8e8e8;
	padding-left: .125em;
	margin-left: .5em;
}

.right_border {
	border-right: 1px solid #e8e8e8;
	padding-right: .125em;
	margin-right: .5em;
}

//ROW
.row {
	width: 100%;
	overflow: hidden;
	display: block;
}
.title_row{
  margin-bottom: 20px;
}

//BASIC TYPOGRAPHY
h1 {
  font-size: $font-size * 1.6;
  text-transform: uppercase;
  font-weight: bold;
  text-rendering: optimizeLegibility;
line-height: $leading;
}

h2, h3 {
  font-size: $font-size * 1.4;
line-height: $leading;
}

h4, h5 {
  font-size: $font-size * 1.2;
line-height: $leading;
}

h6, p {
  font-size: $font-size;
}

p {
  line-height: $leading;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2.5%;
}

.page_contentContainer {
	//smooth scrolling for iOS 5.1+ releases of webkit (works on android)
	-webkit-overflow-scrolling : touch;
  min-height: 64em;
  font-size: 62.5%;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 6.3em 0 3.4em 0;
  background: $wht;
    &:first-child {
      margin: 0 5% 0 0;
    }
  }

.btnNavSprite {
	background: url("icons/navigation/primaryNav_sprite_320x244.png") no-repeat 0 0;
	display: inline-block;
	height: 16px;
	width: 16px;
}

.twitIconSmall {
	@extend .btnNavSprite;
	background-position: -264px -212px;
	//margin: 2px 2px -2px 0;
}

.twitIconSmall_dark {
	@extend .twitIconSmall;
	background-position: -194px -32px;
}

.twitIcon {
	@extend .btnNavSprite;
	background-position: -163px 0;
	display: inline-block;
	height: 32px;
	width: 32px;
	text-indent: -9999px;
}

.twitIcon_dark {
	@extend .twitIcon;
	background-position: -289px -180px;
}

.facebookIcon {
	@extend .btnNavSprite;
	background-position: -256px -120px;
	display: inline-block;
	height: 32px;
	width: 32px;
	text-indent: -9999px;
}

.facebookIconSmall {
	@extend .facebookIcon;
	background-position: -226px -33px;
	height: 16px;
	width: 16px;
}

.slinggitIcon {
	@extend .btnNavSprite;
  	background-position: -33px -183px;
	display: inline-block;
	height: 32px;
	width: 32px;
	text-indent: -9999px;
}

.pagination ul li {
	float: left;
	margin-right: ($font-size /2) !important;
}

.posts p {
	text-rendering: optimizelegibility;
}

.label.label-success,
.posts .col4 .pull_right a {
	font-size: 1.2em;
	line-height: 1.46em;
	text-rendering: optimizelegibility;
	letter-spacing: .1em;
	word-spacing: .1em;
	width: 20%;
	float: left;
	clear: none;
}

.img_border {
  padding: .3em;
  border: 1px solid #D7D7D7;
  border-radius: .3em;
  background-color: lighten($lt-grey, 5%);
}

.transparent_background {
  background-color: transparent !important;
  border-color: transparent !important;
}

.row.termsOfService {
	margin-top: $font-size * .5;
	line-height: $leading;
}
.terms_parent, .terms_child {
font-size: 16px;
line-height: 22px;
}
.terms_child {
	list-style: disc outside;
	margin-left: 10px;
}