.pageFoot {
	clear:both;
	//font-size: 1em;
	box-shadow: $foot-shadow, inset 0 5px 15px rgba(255,255,255,.3);
	position:relative;
	z-index:9999;
	padding-bottom: $font-size;
		nav {
			//font-size: $font-size;
			color: $main-grey;
			text-shadow: $txt-shdw;
			margin-top: $font-size * .5;
			.col4.pull_left > li.pull_left {
				width: ($sixCols * 6)/4 ;
				margin: ($font-size * .5) 0;
				a {
					color: $main-grey;
					@include transition;
					&:hover,
					&:focus {
						color: $dk-grey;
					}	
				}
			}
			.col2.pull_right > li {
				margin-left: $sixCols/2;
			}
		}
	.footerSignIn {
		//font-size: $font-size;
		line-height: $leading;
		a {
			color: $main-blue;
		}
	}
	small {
		//font-size: 1.1em;
		color: $main-grey;
		line-height: 1.2em;
		margin-top: .7em;
	}
	.coloradoIcon {
		@extend .btnNavSprite;
		background-position: -257px 0;
		height: 27px;
		width: 27px;
		+ span {
			//font-size: $font-size * .75;
			color: $main-grey;
			margin-top: .6em;
		}
	}
}