input[type="password"],
input[type="email"],
input[type="text"] {
	@include textInput;
	@include rounded-corners($radius);
	@include transition;
	margin: ($font-size * .275) auto;
		&:focus {
		outline: none;
		box-shadow: $input-focus-shdw;
		border: 1px solid $main-blue;
		}
}
textarea {
	@include textInput;
	@include rounded-corners($radius);
	@include transition;
	resize: none;
	height: 6.3em;
	clear: left;
	float: left;
	margin: ($font-size * .5) auto;
		&:focus {
		outline: none;
		box-shadow: $input-focus-shdw;
		border: 1px solid $main-blue;
		}
}

.btn {
	cursor: pointer;
	padding: .5em;
	margin-top: ($font-size * .4);
	color: $wht;
	font-size: $font-size;
	font-family: $main-font;
	background: $main-grey;
	border: 1px solid $main-grey;
	text-align: center;
	box-shadow: $btn-shading;
	@include rounded-corners($radius);
	@include transition;
	&:hover,
	&:focus {
		box-shadow: $btn-focus;
		color: darken($wht, 5%);
		outline:none;
	}
	&:active {
		box-shadow: $btn-active;
		color: darken($wht, 10%);
	}
}

.btn_green {
	@extend .btn;
	background: $main-green;
}
.btn_blue {
	@extend .btn;
	background: $main-blue;
}
.btn_twitter {
	@extend .btn;
	background: $twitter-blue;
}
.btn_facebook {
	@extend .btn;
	background: $fb-blue;
}
.btn_red {
	@extend .btn;
	color: $white;
	background: darken($main-red, 17%);
}
.btn_yellow {
	@extend .btn;
	border: 1px solid $main-yellow;
	background: lighten($main-yellow, 15%);
	color: darken($main-yellow, 25%);
	&:hover,
	&:focus {
		background: lighten($main-yellow, 17%);
		box-shadow: $btn-focus;
		color: darken($main-yellow, 25%);
		outline:none;
	}
	&:active {
		background: lighten($main-yellow, 17%);
		box-shadow: $btn-active;
		color: darken($main-yellow, 25%);
	}
}
.btn_darkGrey {
	@extend .btn;
	background: $dk-grey;
}
.btn_ltGrey{
	@extend .btn;
	background: $lt-grey;
	border: 1px solid lighten($main-grey, 20%);
	color: darken($main-grey, 6%);
	box-shadow: $btn-shading;
	&:hover,
	&:focus {
		background: lighten($lt-grey, 1%);
		box-shadow: $btn-focus;
		color: darken($main-grey, 6%);
		outline:none;
	}
	&:active {
		box-shadow: $btn-active;
		color: darken($main-grey, 6%);
	}
}
fieldset > label {
	font-size: $font-size * .875;
	line-height: $leading;
	display: block;
	margin: .8em 0 -.4em 0;
}
// end