  <div id="signUpWrapper" class="col6">

    <div class="row">
      <h4>Signin or Signup to ask a question</h4>
      <hr>
    </div>

    <div class="row">

      <div class="col2 pull_left">
        <%= button_to "Sign in", signin_path, class: "btn_medium" %>
      </div>  

      <div class="col4 pull_right">
        <p>New to slinggit?  Signing up is the easiest way to interact with buyers and sellers.</p>
        <%= button_to "Sign up", signup_path, class: "btn_medium" %>
      </div>

    </div>

  </div>