<div id="postReply">
  <div class="row contentHeader">
    <div class="col5 innerHeader">
      <p>Reply to <strong><%= @user.name %></strong></p>
    </div>  
  </div> 

  <div id="postReplyActions" class="row">

    <% if not current_user.is_suspended? %>
      <div class="row">
        <%= link_to "slinggit", {:controller => :messages, :action => :new, :id => @post.id_hash}, class: "col6 btn_green" %>
      </div>
    <% else %>
      <div id="notice_explanation_bubble" style="width:100%">
        You are currently in time out.  As a result of this, you cannot reply to this post.
      </div>
    <% end %>

    <% if not @twitter_post.blank? %>
      <div class="row">
        <%= link_to "https://twitter.com/#!/#{@api_account.user_name}/status/#{@twitter_post.twitter_post_id}", class: "col6 btn_twitter" do %>
           <span class="twitIconSmall"></span>
           Twitter
        <% end %>
      </div>
    <% end %> 

    <div class="row grey_well">
      <p>See more <%= link_to "posts by #{@user.name}", user_path(@user.name) %></p>
    </div> 

  </div>
</div>