<div id="postReply">
  <div class="row contentHeader">
    <div class="col5 innerHeader">
      <p>Contact <strong><%= @user.name %></strong></p>
    </div>  
  </div> 

  <div id="postReplyActions" class="row">

    <div class="row">
      <%= link_to "Contact Using Slinggit", {:controller => :messages, :action => :new, :id => @post.id_hash}, class: "col6 btn_green" %>
    </div>

    <% if not @twitter_post.blank? %>
      <div class="row">
        <%= link_to "https://twitter.com/#!/#{@api_account.user_name}/status/#{@twitter_post.twitter_post_id}", class: "col6 btn_twitter" do %>
           <span class="twitIconSmall"></span>
           Contact Using Twitter
        <% end %>
      </div>
    <% end %> 

    <div class="row grey_well">
      <p>See more <%= link_to "posts by #{@user.name}", user_path(@user.name) %></p>
    </div> 

  </div>
</div>