<% if @post.open? %>

  <% if not current_user.is_suspended? %>

    <%= form_for([@post, @post.comments.build]) do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <fieldset>
        <div class="control group">
          <div class="controls">
            <%= f.text_area :body, rows: "3" %> <!-- inline style! -->
          </div>  
        </div>

        <div class="form-actions">
          <%= f.submit "Reply to Post", class: "btn_medium" %>
        </div>

      </fieldset>

      <% end %><!-- form end -->

  <% else %>

    <div class="notice">
      You are currently in time out.  As a result of this, you cannot comment on posts.
    </div>  

  <% end %>    

<% else %>

    <div class="alert alert-error">
      <h4 class="alert-heading">Post Closed</h4>
      Oh snap, it appears this item is no longer for sale.
    </div>

<% end %>  