<!-- Reply to container -->
<div id="postReply">
  <div class="row contentHeader">
    <div class="col5 innerHeader">
      <p>Reply to <strong><%= link_to "#{@user.name}", user_path(@user.name) %></strong></p>
    </div>  
  </div> 

  <div id="postReplyActions" class="row">

    <div class="row">
      <%= link_to "slinggit", {:controller => :messages, :action => :new, :id => @post.id_hash}, class: "col6 btn_green pull_left" %>
    </div>

    <% if not @twitter_post.blank? %>
      <div class="row">
        <%= link_to "https://twitter.com/#!/#{@api_account.user_name}/status/#{@twitter_post.twitter_post_id}", class: "col6 btn_twitter pull_left" do %>
           <span class="twitIcon"></span>
           Twitter
        <% end %>
      </div>
    <% end %> 

  </div>
</div>