<!-- Reply to container -->
<div id="postReply">
  <div class="row contentHeader">
    <div class="innerHeader">
      <h4>Reply to Seller via:</h4>
    </div>  
  </div> 

  <div id="postReplyActions" class="row">
    <div class="col4 offset1">

      <% if not @twitter_post.blank? %>
        <div class="row">
          <%= link_to "Twitter", "https://twitter.com/#!/#{@api_account.user_name}/status/#{@twitter_post.twitter_post_id}", class: "col6 btn_medium" %>
        </div> 
      <% end %>  

      <div class="row">
        <%= link_to "slinggit", {:controller => :messages, :action => :new, :id => @post.id_hash}, class: "col6 btn_medium" %>
      </div> 

    </div>
  </div>

  <div class="row">
    
      <% if current_user?(@user) %>
        <% if current_user.status != "suspended"%>
          <h6 class="pull-right"><%= link_to "CLOSE", edit_post_path(@post), class: "btn" %></h6>
        <% end %> 
      <% end %>

  </div>
</div>