<% provide(:title, "Edit post") %> 
<section class="wrapper">
	<header>
		<h1>Update your post</h1>
		<p>Update your post</p>
	</header>
	<article>
    	<h2><%= @post.hashtag_prefix %></h2> 
        <% if @post.open? %>
        	<%= render 'posts/edit_open' %>
        <% else %>
        	<%= render 'posts/edit_closed' %>
        <% end %>
	</article>
</section>