<div class="row">
    <div class="span6 offset3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </div>
  </div> 