<section class="wrapper createPost">
	<header class="row">  	
		<h1 class="bottom_border">Create a post:</h1>
	</header>
	<div class="row createPost">
		<%= render 'shared/post_form' %>
		<%= render 'shared/user_info' %>
	</div>
</section>