<section class="wrapper createPost">
	<header class="row contentHeader">  	
		<h1>Create a post:</h1>
	</header>
	<div class="row">
		<%= render 'shared/post_form' %>
		<%= render 'shared/user_info' %>
	</div>
</section>