<section class="wrapper createPost">
	<header class="row">  	
		<h1 class="bottom_border">Create a post:</h1>
	</header>
	<div class="row createPost">
		
		<article class="main">
			<%= render 'shared/post_form' %>
		</article>

		<aside class="secondary">
    		<div class="secondary_inner">
				<%= render 'shared/user_info' %>
			</div>
		</aside>

	</div>
</section>