<style type="text/css">
    tr.postResult {
        cursor: pointer;
    }
</style>

<% provide(:title, 'Search Results') %>
<h2>Search Results</h2>

  <% if not @posts.blank? %>
      <ul class="posts">
        <%= render @posts %>
      </ul>
  <% end %>

<script type="text/javascript">

    $(document).ready(function () {
        $("[id^=postResult_]").each(function (key) {
            $('#' + this.id).click(function (e) {
                e.preventDefault();
                var post_id = this.id.split('_')[1];
                document.location.href = "/posts/" + post_id;
            });
        });

        $("table").tablesorter(); 
    });

</script>

