// Date: May 5, 2012
// Author: @chasecourington

//WIDTH
$sixCols: 16.66666667%;
.col1 {
	width: $sixCols;
	display: inline-block;
}
.col2 {
	width: ($sixCols * 2);
	display: inline-block;
}
.col3 {
	width: ($sixCols * 3);
	display: inline-block;
}
.col4 {
	width: ($sixCols * 4);
	display: inline-block;
}
.col5 {
	width: ($sixCols * 5);
	display: inline-block;
}
.col6 {
	width: 100%;
	display: block;
}

//RIGHT or LEFT
.pull_right {
	float: right;
}
.pull_left {
	float: left;
}

//ROW HEIGHT -- based on font-size and line-height; this needs some work yet -- cc
$font-size: 1.6em;
$leading: ($font-size * .8 );
.row {
	width: 100%;
	overflow: hidden;
	display: block;
}

// COLOR VARIABLES
$main-grey: rgb(119, 119, 119);
$main-red: rgb(253, 65, 40);
$main-yellow: rgb(255, 183, 40);
$main-blue: rgb(72, 141, 226);
$main-green: rgb(75, 192, 75);
$lt-grey: rgb(219, 219, 219);
$dk-grey: rgb(62, 62, 62);
$wht: rgb(248, 248, 248);

// BORDER RADIUS
$radius: .3em;
@mixin rounded-corners($radius){
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

// VENDOR PREFIXES
$ff: -moz-;
$wk: -webkit-;
$ms: -ms-;
$o: -o-;

// TRANSITIONS
$tranny: all .3s ease;
@mixin transition($tranny){
  -moz-transition: $tranny;
  -webkit-transition: $tranny;
  -o-transition: $tranny;
  -ms-transition: $tranny;
  transition: $tranny;
}

// TYPOGRAPHY
$main-font: 'helvetica neue', helvetica, arial, sans-serif;
$txt-shdw: 0 1px 0 rgba(0, 0, 0, .2);
$padding: .4em .6em;

body {
	height: 100%;
  font-family: $main-font;
  overflow-x: hidden;
  box-shadow: inset 0 0 72px rgba(0, 0, 0, .25);
  background: $lt-grey;
  color: $dk-grey;
}

h1 {
  font-size: $font-size * 1.6;
  text-transform: uppercase;
  font-weight: bold;
}

h2, h3 {
  font-size: $font-size * 1.4;
}

h4, h5 {
  font-size: $font-size * 1.2;
}

h6, p {
  font-size: $font-size;
}

p {
  line-height: $leading;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2.5%;
}

.subHeader{
  font-weight: bold;
  font-size: 15px;
}

.page_contentContainer {
  min-height: 46em;
  font-size: 62.5%;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 1.4em 0;
  background: $wht;
  .twoCol {
    width: 45%;
    float: left;
    display: inline-block;
    &:first-child {
      margin: 0 5% 0 0;
    }
  }
  header {
    margin: 0 0 1.4em 0;
    p {
      font-size: $font-size * 1.6;
      text-transform: uppercase;
      font-weight: bold;
	  color: rgba(255, 255, 255, .25);
	  margin: -1.05em 0 0 0.25%;
    }
  }
  .twtr-widget {
    border: 1px solid $lt-grey;
    .twtr-ft {
      display: none;
    }
  }
//styles for sign in page

//end
  //styles for sign up page
	.wrapper.page_col.singleWide {
	}
	.form_initialFields,
	.form_hiddenFields,
	#form_signUpActions {
	//margin: $font-size 0;
	//width: 35%;
	//float: left;
	//clear: left;
	}
	.form_initialFields,
	.form_hiddenFields {
		label {
			text-align: left;
		}
		input {
			&[type="text"],
			&[type="email"],
			&[type="password"] {
				//width: 100%;
				//float: left;
			}
		}
	}
	#form_signUpActions {
	margin: 1.4em 0;
		#noThanksBTN {
		background: $lt-grey;
		color: $main-grey;
		border: 1px solid darken($lt-grey, 20%);
	  }
	}
  .form_hiddenFields.page_col.twoCol {
    margin-top: 3em;
  }
  //end

  //styles for notices
  #error_explanation, #notice_explanation {
    font-size: 1.2em;
    line-height: 1.6em;
    color: $wht;
text-shadow: 0 1px 0 $main-red;
    font-weight: bold;
    letter-spacing: .1em;
    border-radius: .5em;
    padding: .6em 1.4em;
    width: 45%;
    margin: 0 auto;
    border: 1px solid $main-red;
    box-shadow: 0 0 20px rgba(0, 0, 0, .38);
  }
#success_explanation {
background: lighten($main-green, 15%);
color: $wht;
text-shadow: 1px solid $main-green;
box-shadow: 0 1px 0 $dk-grey;
border: none;
width: 50%;
margin: 0 auto;
text-align: center;
font-size: 1.6em;
padding: 1.4em .8em;
margin-top: -1.4em;
border-radius: .5em;
}

 #error_explanation,
#notice_explanation {
background: lighten($main-red, 18%);
float: left;
box-shadow: none;
width: auto;
text-align: left;
font-weight: normal;
background: none;
border: none;
color: rgb(253, 65, 40);
text-shadow: none;
}
  //end

  //styles for sign in page
  a:link {
    float: left;
    clear: left;
    margin: 0 0;
    //@include rounded-corners;
    //width: 75%;
  }
  //end
  //Item Photo for posts
  img.obj {
    width: 300px;
  }
  //end
  //form: create a post on /posts/new
  .posts {
    article {
      padding-bottom: 1.4em;
      &:first-child {
        float: left;
        width: 60%;
      }
      &:last-child {
        float: right;
        width: 30%;
        header {
          float: left;
          margin: 0 2.5% 0 0;
          text-align: right;
          h1 {
            font-size: $font-size * .75;
            line-height: ($font-size * .75) * 1.2;
          }
          h6 {
            font-size: $font-size * .65;
            line-height: ($font-size * .65) * 1.2;
          }
        }
        a:link {
          float: left;
        }
      }
      &[role="complementary"] {
        float: none;
        clear: both;
        width: 50%;
      }
    }
  }
  //end
.pagination ul li {
	float: left;
	margin-right: ($font-size /2) !important;
}
.posts p {
font-size: 1.2em;
line-height: 1.46em;
text-rendering: optimizelegibility;
letter-spacing: .1em;
word-spacing: .1em;
}
.label.label-success,
.posts .col4 .pull_right a {
	font-size: 1.2em;
	line-height: 1.46em;
	text-rendering: optimizelegibility;
	letter-spacing: .1em;
	word-spacing: .1em;
width: 20%;
float: left;
clear: none;
}
  // posts page
  .posts article ul {
    list-style: disc outside;
    margin: $font-size 0;
	overflow: hidden;
    li {
      margin: 0 0 0 0;
      //border-bottom: 1px solid $lt-grey;
      list-style: none;
      a {
        color: rgb(62, 62, 62);
		width: 100%;
        .photo {
          border: 1px solid $lt-grey;
          padding: 1px;
          width: 90%;
          background-color: $wht;
		  margin: 0;
          // CMK: Chase - not sure if you want these images to be a set size or not
          img{
            width: 100%;
          }
        }
        .item {
          font-size: $font-size * 1;
          display: block;
        }
        .content {
          font-size: $font-size;
          line-height: $font-size;
          margin: 0 0 ($font-size * .5) 0;
        }
        .timestamp {
          display: block;
          font-size: $font-size * .65;
          line-height: ($font-size * .65) * 1.2;
        }
      }
      .pull-right {
        margin: .7em 0;
        a {
          color: $main-blue;
          font-size: $font-size * .75;
          font-weight: bold;
        }
        .label {
          border-right: 1px solid $lt-grey;
          padding-right: $font-size * .75;
          margin-right: $font-size * .75;
        }
      }
    }
  }
  article > ul + .form-actions {
    width: 100%;
    margin: 1.4em 0 0 0;
  }
  // end
  // networks page styles
  .accounts {
    article {
      ul {
        float: left;
        margin: 0 2.5% 0 0;
        font-size: $font-size;
        li {
          margin: ($font-size * .5) auto;
          &:first-child {
            font-weight: bold;
          }
        }
      }
    }
  }
  // end
}