// Date: May 5, 2012
// Author: @chasecourington

// COLOR VARIABLES
$main-grey: rgb(119, 119, 119);
$main-red: rgb(253, 65, 40);
$main-yellow: rgb(255, 183, 40);
$main-blue: rgb(72, 141, 226);
$main-green: rgb(75, 192, 75);
$lt-grey: rgb(219, 219, 219);
$wht: rgb(248, 248, 248);

// BORDER RADIUS
$radius: .5em;
@mixin rounded-corners($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}

// VENDOR PREFIXES
$ff: -moz-;
$wk: -webkit-;
$ms: -ms-;
$o: -o-;

// TRANSITIONS
$tranny: all .3s ease;
@mixin transition($tranny) {
	-moz-transition: $tranny;
	-webkit-transition: $tranny;
	-o-transition: $tranny;
	-ms-transition: $tranny;
	transition: $tranny;
}

// FONTS
$main-font: 'helvetica neue', helvetica, arial, sans-serif;
$font-size: 1.6em;
$txt-shdw: 0 1px 0 rgba(0, 0, 0, .2);

// INPUT FIELDS
$padding: .4em .6em;
$input-txt-shading: 0 -1px 0 rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, .8);
$input-focus-shdw: 0 0 8px rgba(72, 141, 226, .5);
$btn-shading: 0 1px 1px rgba(0, 0, 0, .25), inset 0 1px 1px rgba(255, 255, 255, .25);
$btn-txt-shading: 0 -1px 0 rgba(0, 0, 0, .25), 0 0 8px rgba(255, 255, 255, .25);
$btn-focus: inset 0 0 1px rgba(0, 0, 0, .25), 0 0 2px rgba(255, 255, 255, .75);
$btn-focus-txt: 0 1px 0 rgba(0, 0, 0, .25), 0 0 8px rgba(0, 0, 0, .25);
$btn-active: inset 0 0 1px rgba(0, 0, 0, .5), 0 0 2px rgba(255, 255, 255, .75);
$btn-active-txt: 0 0 8px rgba(0, 0, 0, .75);


body {
	font-family: $main-font;
	overflow: hidden;
	box-shadow: inset 0 0 72px rgba(0, 0, 0, .25);
	background:$main-grey;
}
h1 {
	font-size:$font-size * 1.4;
}
h2, h3 {
	font-size:$font-size * 1.2;
}
h4, h5, h6, p {
	font-size:$font-size;
}
.wrapper {
	font-size: 62.5%;
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
.page_contentContainer {
	font-size: 62.5%;
	min-height: 40em;
	position: relative;
	z-index: 1;
	width: 100%;
	background: $wht url("/assets/images/textures/texture_tile_97x157.png") repeat top left;
	padding: 2.6em 0;
}
.page_col {
	font-size:$font-size;
}
.page_col.twoCol {
	width: 45%;
	float: left;
	display: inline-block;
	margin: 0 2.5%;
}
.page_contentContainer p {
	margin: 1.4em 0;
	line-height: 1.2em;
}
.twtr-widget {
border: 1px solid $lt-grey;
	.twtr-ft {
	display: none;
	}
}

