// INPUT FIELDS
$padding: .4em .6em;
$input-txt-shading: 0 -1px 0 rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, .8);
$input-focus-shdw: 0 0 8px rgba(72, 141, 226, .5);
$btn-shading: 0 1px 1px rgba(0, 0, 0, .25), inset 0 1px 1px rgba(255, 255, 255, .25);
$btn-txt-shading: 0 -1px 0 rgba(0, 0, 0, .25), 0 0 8px rgba(255, 255, 255, .25);
$btn-focus: inset 0 0 1px rgba(0, 0, 0, .25), 0 0 2px rgba(255, 255, 255, .75);
$btn-focus-txt: 0 1px 0 rgba(0, 0, 0, .25), 0 0 8px rgba(0, 0, 0, .25);
$btn-active: inset 0 0 1px rgba(0, 0, 0, .5), 0 0 2px rgba(255, 255, 255, .75);
$btn-active-txt: 0 0 8px rgba(0, 0, 0, .75);

// BORDER RADIUS
$radius: .15em;
$side-tl: top-left;
$side-bl: bottom-left;
$side-tr: top-right;
$side-br: bottom-right;
@mixin rounded-corners($radius) {
	#{$ff}border-radius: $radius;
	#{$wk}border-radius: $radius;
	border-radius: $radius;
}
@mixin hardEdge-right {
	@include rounded-corners(0);
	#{$ff}border-#{$side-tl}-radius: $radius;
	#{$wk}border-#{$side-tl}-radius: $radius;
	border-#{$side-tl}-radius: $radius;
	#{$ff}border-#{$side-bl}-radius: $radius;
	#{$wk}border-#{$side-bl}-radius: $radius;
	border-#{$side-bl}-radius: $radius;
}
@mixin hardEdge-left {
	@include rounded-corners(0);
	#{$ff}border-#{$side-tr}-radius: $radius;
	#{$wk}border-#{$side-tr}-radius: $radius;
	border-#{$side-tr}-radius: $radius;
	#{$ff}border-#{$side-br}-radius: $radius;
	#{$wk}border-#{$side-br}-radius: $radius;
	border-#{$side-br}-radius: $radius;
}
@mixin textInput {
	padding: .4em 0;
	font-size: $font-size;
	font-family: $main-font;
	color: $main-grey;
	border: 1px solid $lt-grey;
	box-shadow: $input-txt-shading;
	text-indent: .6em;
}

// VENDOR PREFIXES
$ff: -moz-;
$wk: -webkit-;
$ms: -ms-;
$o: -o-;

input[type="password"],
input[type="email"],
input[type="text"] {
	@include textInput;
	@include rounded-corners($radius);
	@include transition;
		&.form_singleLine {
		//width: 100%;
		//float: left;
		//clear: left;
		margin: ($font-size * .5) 0 $font-size 0;
		}
		&:focus {
		outline: none;
		box-shadow: $input-focus-shdw;
		border: 1px solid $main-blue;
		}
}
input[type="text"].hardEdge-right {
	@include hardEdge-right;
	//width: 75%;
	clear: left;
	float: left;
}
.col_oneThird {
width: 50%;
margin: 0;
float: left;
}
#post_price {
width: 45%;
}
//#post_location {
//width: 100%;
//}
textarea {
	@include textInput;
	@include rounded-corners($radius);
	@include transition;
	resize: none;
	height: 6.3em;
	clear: left;
	float: left;
	margin: .7em 0 1.4em 0;
	width: 95%;
		&:focus {
		outline: none;
		box-shadow: $input-focus-shdw;
		border: 1px solid $main-blue;
		}
}
input[type="button"] {
	background: $main-green;
	padding: .4em;
	font-size: $font-size;
	color: $wht;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
	border: 1px solid $main-grey;
	cursor: pointer;
	box-shadow: $btn-shading;
	text-shadow: $btn-txt-shading;
	@include transition;
	&:hover,
	&:focus {
		box-shadow: $btn-focus;
		text-shadow: $btn-focus-txt;
		outline:none;
	}
	&:active {
		box-shadow: $btn-active;
		text-shadow: $btn-active-txt;
	}
}
input.submitBTN,
.btn_large,
.btn_medium,
.btn_small,
.btn_cancel{
	cursor: pointer;
	padding: .4em;
	color: $wht;
	font-size: $font-size;
	font-family: $main-font;
	background: $main-green;
	border: 1px solid $main-grey;
	box-shadow: $btn-shading;
	@include rounded-corners($radius);
	//text-shadow: $btn-txt-shading;
	@include transition;
	&:hover,
	&:focus {
		box-shadow: $btn-focus;
		color: darken($wht, 5%);
		outline:none;
	}
	&:active {
		box-shadow: $btn-active;
		color: darken($wht, 10%);
	}
}

.btn_cancel{
  background: $main-red;
}

label {
	font-size: $font-size - .2em;
	display: block;
}
.add-on {
	@include hardEdge-left;
	background: $lt-grey;
	padding: .45em;
	font-size: $font-size;
	font-family: $main-font;
	color: $main-grey;
	border: 1px solid darken($lt-grey, 10%);
	box-shadow: $btn-shading;
	width: 25%;
	margin: .7em 0 0 0;
	float: left;
	width: auto;
}
//.input-append {
//overflow:hidden;
//width: 100%;
//}
// create post form
/*.col_oneThird,
.form-actions {
width: 33%;
float: left;
}*/
.col_twoThird,
#photoControlGroup {
float: left;
margin: 0 0 0 5%;
width: 38%;
}
#photoControlGroup {
margin: 0;
width: 50%;
}
.col_twoThird + fieldset {
clear: left;
width: 100%;
	> input {
	width: 75%;
	}
}
label[for="post_photo"] {
float: left;
display: inline-block;
}
.controls.thumbnail {
	font-size: $font-size;
	margin: $font-size auto;
	font-weight: 600;
	text-decoration: underline;
}
fieldset > input[type="checkbox"] {
width: auto;
margin: 0;
display: block;
clear: left;
}
//#new_post fieldset:last-child {
//clear: both;
//margin: $font-size 0;
//}
#submitNewPost {
width: 50%;
}
// end
// posts page open & edit btns

// end