// small handheld device
@media all and (min-width: 320px) and (max-width: 640px) {
	.wrapper {
		width: 96%;
		max-width: 640px;
		padding: 0;
	}
	body > header:first-child .logo a:link {
	width: 85px;
	display: block;
	overflow: hidden;
	}
	body > header:first-child {
		position: fixed;
		height:5.5em;
		.logo {
		width: 30%;
		}
		.logo h6 {
			top: -7px;
			left: 8px;
		}
		nav {
			margin: 0;
			padding: 1.4em 0;
			width: 70%;
		 	div {
				float: left;
				width: 50%;
				text-align: center;
			}
			.head_aside {
				margin: 0;
			}
			#accountDropDown {
				float: right;
				width: 50%;
				text-align: center;
				.nav_dropDown {
					left: 0;
					top: .65em;
					@include rounded-corners;
					width: 95%;
					text-align: right;
					box-shadow: none;
					border-top: none;
					padding: 0;
					li {
						font-size: $font-size * .5;
						line-height: $font-size *.5;
						padding: .7em 7.5% .7em 0;
						&:last-child {
							border-top: solid 1px lighten($main-grey, 25%);
							box-shadow: inset 0 1px 0 $wht;
						}
					}
				}
			}
		 span {
			float: none;
			}
		}
		div a:link,
		div a:visited {
			color: $wht;
		}
		#quickSearchWrapper {
			display: none;
		}
	}
	.page_contentContainer {
		padding-top: 6.3em;
	}
	.page_contentContainer header:first-child {
	margin: 0 0 $font-size 0;
	font-size: $font-size * .5;
	text-align: center;
	}
	.page_contentContainer header p {
	line-height: 1em;
	margin: -.975em 0 0 .045em;
	}
	.page_contentContainer .posts article:last-child {
	display: none;
	}
	.page_contentContainer .posts article:first-child {
	float: left;
	width: 100%;
	}
	/*input[type="text"].hardEdge-right {
	width: 75%;	
	}*/
	.page_contentContainer .twoCol:first-child {
	margin: 1.4em auto;
	//border-bottom: 1px solid #F8F8F8;
	padding: 0 5%;
	//box-shadow: 0 1px 0 rgba(62, 62, 62, .2);
	}
	.page_contentContainer .twoCol {
	width: 100%;
	float: none;
	display: block;
	}
	.page_contentContainer .form_initialFields input[type="text"], .page_contentContainer .form_initialFields input[type="email"], .page_contentContainer .form_initialFields input[type="password"], .page_contentContainer .form_hiddenFields input[type="text"], .page_contentContainer .form_hiddenFields input[type="email"], .page_contentContainer .form_hiddenFields input[type="password"] {
	width: 95%;
	float: left;
	}
	.posts article:first-child fieldset.col_oneThird,
	.posts article:first-child fieldset.col_twoThird {
	width: 45%;
	margin: 0;
	float: left;
	clear: none;
	}
	#post_price {
	width: 50%;
	}
	#post_location {
	width: 100%;
	}
	#post_content {
	width: 90%;
	}
	/*.page_contentContainer fieldset {
	margin: 0 0 $font-size 0;
	width: 95%;
	float: none;
	}*/
	#new_post fieldset:last-child {
	float: none;
	width: 90%;
	margin: 0 auto;
		#submitNewPost {
		width: 100%;
		}
	}
	.form-actions {
		float: right;
		span {
			display: block;
		}
	}
	.btn_large,
	.btn_medium,
	.btn_small {
		display: block;
		width: 95%;
		margin: $font-size auto;
		text-align: center;
	}
	.page_contentContainer #session_password,
	.page_contentContainer #session_email {
	
	}
	.posts {
		.col4, .col2 {
		display: block;
		float: none;
		clear: both;
		width: 100%;
		}
		//.col3 {
		//	display: block;
		//	width: 100%;
		//}
	}
	
	//responsive styles for posts_create
	.createPost article:last-child {
	display: none;
	}
}
//this bracket closes the 320-640 media query	
//end