#mainHeader {
	position: fixed;
	top: 0;
	z-index: 8888;
	overflow: visible;
	background: $main-blue;
	#{$ff}box-shadow: $head-shadow;
	#{$o}box-shadow: $head-shadow;
	#{$wk}box-shadow: $head-shadow;
	box-shadow: $head-shadow;
	.hideSearch {
		display: none;
	}
	.active {
		border: 1px solid darken($main-blue, 15%);
		background: darken($main-blue, 10%);
		#{$ff}box-shadow: inset 0 2px 6px rgba($black, .15), inset 0 -1px 1px rgba($white, .15);
		#{$o}box-shadow: inset 0 2px 6px rgba($black, .15), inset 0 -1px 1px rgba($white, .15);
		#{$wk}box-shadow: inset 0 2px 6px rgba($black, .15), inset 0 -1px 1px rgba($white, .15);
		box-shadow: inset 0 2px 6px rgba($black, .15), inset 0 -1px 1px rgba($white, .15);
	}
	hgroup {
		width: $sixCols * 1.2;
		min-height: ($font-size * 2.875);
		padding-top: 1em;
		font-size: ($font-size * .375);
		cursor: pointer;
		h1 {
			font-size: $font-size;
			//hide the h1 off canvas
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		img {
			padding-right: 5%;
		}
		h6 {
			font-size: ($font-size * .375);
			color: $lt-grey;
			display: none;
		}
	}
	.col2 {
		width: $sixCols * 1.2;
		min-height: ($font-size * 2.875);
		padding-top: 1em;
		font-size: ($font-size * .375);
		cursor: pointer;
	}
	hgroup  + .col4.pull_left {
		width: 80%;
 		* {
			color: $wht;
		}
		> .row > .col2 {
			width: $sixCols * 1.5;
			text-align: center;
			.btn_navPosts {
				@extend .btnNavSprite;
				background-position: -32px -32px;
				display: block;
				margin: 0 auto;
			}
			.btn_navMessages {
				@extend .btnNavSprite;
				background-position: -66px -21px;
				display: block;
				margin: 0 auto;
			}
			.btn_navSearch {
				@extend .btnNavSprite;
				background-position: -128px -32px;
				display: block;
				margin: 0 auto;
			}
			.btn_navSettings {
				@extend .btnNavSprite;
				background-position: 0 -32px;
				display: block;
				margin: 0 auto;
			}
		}
		.nav_dropDown.dropdown-menu {
			position: absolute;
			top: 4.6em;
			right: 0;
			z-index: 9999;
			background: $main-blue;
			//@include rounded-corners($font-size * .375);
			@include hardEdge-top;
			#{$ff}box-shadow: inset 0 2px 6px rgba($black, .15), inset 0 -1px 1px rgba($white, .15);
			#{$o}box-shadow: inset 0 2px 6px rgba($black, .15), inset 0 -1px 1px rgba($white, .15);
			#{$wk}box-shadow: inset 0 2px 6px rgba($black, .15), inset 0 -1px 1px rgba($white, .15);
			box-shadow: inset 0 2px 6px rgba($black, .15), inset 0 -1px 1px rgba($white, .15), 0 0 10px rgba($black, .25);
		}
		.dropdown-menu > li {
			padding: ($font-size * 1.4575) ($font-size * .5);
			border-top: 1px solid darken($lt-grey, 10%);
			&:first-child {
				border-top: none;
			}
		}
	}
	#quickSearchWrapper {
		//display: none;
		background: $lt-grey;
		border-bottom: 1px solid darken($lt-grey, 10%);
		#{$ff}box-shadow: $head-shadow;
		#{$o}box-shadow: $head-shadow;
		#{$wk}box-shadow: $head-shadow;
		box-shadow: $head-shadow;
		> .col3.pull_right {
			float: none;
			margin: -.5em 0 .5em $sixCols;
			width: $sixCols * 4;
			input[name="quickSearch"] {
				font-size: ($font-size * .5);
				line-height: $leading;
				@include rounded-corners($font-size * .375);
				padding:($font-size * .25) $font-size;
				width: 100%;
				font-family: $main-font;
				border: 1px solid darken($lt-grey, 5%);
			}
			.btn_navSearch {
				@extend .btnNavSprite;
				background-position: -96px -32px;
				position: relative;
				top: 26px;
				left: 6px;
				z-index: 9999;
			}
		}
	}
}
.pageFoot {
	clear:both;
	//font-size: 1em;
	box-shadow: $foot-shadow, inset 0 5px 15px rgba(255,255,255,.3);
	position:relative;
	z-index:9999;
	padding-bottom: $font-size;
		nav {
			//font-size: $font-size;
			color: $main-grey;
			text-shadow: $txt-shdw;
			margin-top: $font-size * .5;
			.col4.pull_left > li.pull_left {
				width: ($sixCols * 6)/4 ;
				margin: ($font-size * .5) 0;
				a {
					color: $main-grey;
					@include transition;
					&:hover,
					&:focus {
						color: $dk-grey;
					}	
				}
			}
			.col2.pull_right > li {
				margin-left: $sixCols/2;
			}
		}
	.footerSignIn {
		//font-size: $font-size;
		line-height: $leading;
		a {
			color: $main-blue;
		}
	}
	small {
		//font-size: 1.1em;
		color: $main-grey;
		line-height: 1.2em;
		margin-top: .7em;
	}
	.coloradoIcon {
		@extend .btnNavSprite;
		background-position: -257px 0;
		height: 27px;
		width: 27px;
		+ span {
			//font-size: $font-size * .75;
			color: $main-grey;
			margin-top: .6em;
		}
	}
}