// Date Revised: May 30, 2012
// Author: chase courington & chris klein

body {
	height: 100%;
  font-family: $main-font;
  overflow-x: hidden;
  box-shadow: inset 0 0 72px rgba(0, 0, 0, .25);
  background: $lt-grey;
  color: $dk-grey;
}

//COLUMNS and OFFSETS
.col1 {
	width: $sixCols;
	display: inline-block;
}
.col2 {
	width: ($sixCols * 2);
	display: inline-block;
}
.col3 {
	width: ($sixCols * 3);
	display: inline-block;
}
.col4 {
	width: ($sixCols * 4);
	display: inline-block;
}
.col5 {
	width: ($sixCols * 5);
	display: inline-block;
}
.col6 {
	width: 100%;
	display: block;
}

.offset1 {
 margin-left: $sixCols;
}
.offset2 {
 margin-left: ($sixCols * 2);
}
.offset3 {
  margin-left: ($sixCols * 3);
}
.offset4 {
  margin-left: ($sixCols * 4);
}
.offset5 {
  margin-left: ($sixCols * 5);
}

//RIGHT or LEFT
.pull_right {
	float: right;
}
.pull_left {
	float: left;
}

//ROW
.row {
	width: 100%;
	overflow: hidden;
	display: block;
}
.title_row{
  margin-bottom: 20px;
}

//BASIC TYPOGRAPHY
h1 {
  font-size: $font-size * 1.6;
  text-transform: uppercase;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

h2, h3 {
  font-size: $font-size * 1.4;
}

h4, h5 {
  font-size: $font-size * 1.2;
}

h6, p {
  font-size: $font-size;
}

p {
  line-height: $leading;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2.5%;
}

.page_contentContainer {
  min-height: 46em;
  font-size: 62.5%;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 1.4em 0;
  background: $wht;
    &:first-child {
      margin: 0 5% 0 0;
    }
  }
  header {
    p {
      font-size: $font-size * 1.6;
      text-transform: uppercase;
      font-weight: bold;
	  color: rgba(255, 255, 255, .15);
	  margin: -1.05em 0 0 0.25%;
    }
  }

.pagination ul li {
	float: left;
	margin-right: ($font-size /2) !important;
}
.posts p {
	//font-size: 1.2em;
	//line-height: 1.46em;
	text-rendering: optimizelegibility;
	//letter-spacing: .1em;
	//word-spacing: .1em;
}
.label.label-success,
.posts .col4 .pull_right a {
	font-size: 1.2em;
	line-height: 1.46em;
	text-rendering: optimizelegibility;
	letter-spacing: .1em;
	word-spacing: .1em;
width: 20%;
float: left;
clear: none;
}

  // networks page styles
  .accounts {
    article {
      ul {
        float: left;
        margin: 0 2.5% 0 0;
        font-size: $font-size;
        li {
          margin: ($font-size * .5) auto;
          &:first-child {
            font-weight: bold;
          }
        }
      }
    }
  }
  // end


.img_border {
  padding: .3em;
  border: 1px solid #D7D7D7;
  border-radius: .3em;
  background-color: #E3E3E3;
}

.transparent_background {
  background-color: transparent !important;
  border-color: transparent !important;
}
