input[type="password"],
input[type="email"],
input[type="text"] {
	@include textInput;
	@include rounded-corners($radius);
	@include transition;
	margin: ($font-size * .5) auto;
		&:focus {
		outline: none;
		box-shadow: $input-focus-shdw;
		border: 1px solid $main-blue;
		}
}
textarea {
	@include textInput;
	@include rounded-corners($radius);
	@include transition;
	resize: none;
	height: 6.3em;
	clear: left;
	float: left;
	margin: ($font-size * .5) auto;
		&:focus {
		outline: none;
		box-shadow: $input-focus-shdw;
		border: 1px solid $main-blue;
		}
}
input[type="button"],
input[type="submit"] {
	background: $main-green;
	padding: .4em;
	font-size: $font-size;
	color: $wht;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
	border: 1px solid $main-grey;
	cursor: pointer;
	box-shadow: $btn-shading;
	text-shadow: $btn-txt-shading;
	@include transition;
	&:hover,
	&:focus {
		box-shadow: $btn-focus;
		text-shadow: $btn-focus-txt;
		outline:none;
	}
	&:active {
		box-shadow: $btn-active;
		text-shadow: $btn-active-txt;
	}
}

.btn {
	cursor: pointer;
	padding: .5em;
	margin: ($font-size * .4) auto;
	color: $wht;
	font-size: $font-size;
	font-family: $main-font;
	background: $main-grey;
	border: 1px solid $main-grey;
	text-align: center;
	box-shadow: $btn-shading;
	@include rounded-corners($radius);
	//text-shadow: $btn-txt-shading;
	@include transition;
	&:hover,
	&:focus {
		box-shadow: $btn-focus;
		color: darken($wht, 5%);
		outline:none;
	}
	&:active {
		box-shadow: $btn-active;
		color: darken($wht, 10%);
	}
}

.btn_green {
	@extend .btn;
	background: $main-green;
}
.btn_blue {
	@extend .btn;
	background: $main-blue;
}
.btn_twitter {
	@extend .btn;
	background: $twitter-blue;
}
.btn_red {
	@extend .btn;
	background: $main-red;
}
.btn_yellow {
	@extend .btn;
	background: $main-yellow;
}
.btn_darkGrey {
	@extend .btn;
	background: $dk-grey;
}

.twitIconSmall {
	background: url("icons/navigation/primaryNav_sprite_159x48.png") no-repeat -96px -32px;
	display: inline-block;
	height: 16px;
	width: 16px;
	margin: 2px 2px -2px 0;
}

.twitIconSmall_dark {
	@extend .twitIconSmall;
	background-position: -126px -32px;
}

.twitIcon {
	background: url("icons/twitter/twitterBird_88x32.png") no-repeat -44px 0;
	height: 32px;
	width: 44px;
	display: inline-block;
	margin: 2px 2px -2px 0;
}

.twitIcon_dark {
	@extend .twitIcon;
	background-position: 0 0;
}

label {
	font-size: $font-size - .2em;
	display: block;
}
label[for="post_photo"] {
	float: left;
	display: inline-block;
}
.controls.thumbnail {
	font-size: $font-size;
	margin: $font-size auto;
	font-weight: 600;
	text-decoration: underline;
}
fieldset > input[type="checkbox"] {
	width: auto;
	margin: 0;
	display: block;
	clear: left;
}
// end