.label {
	color: $white;
	padding: 3px 5px 3px 5px;
	line-height: $font-size * 1.1;
	@include rounded-corners;
	background-color: $dk-grey;
	text-shadow: $txt-shdw;
}

.label_yellow{
 	@extend .label;
 	background-color: $main-yellow;
}

.label_green{
 	@extend .label;
 	background-color: $main-green;
}

.label_red{
 	@extend .label;
 	background-color: $main-red;
}

.label_blue{
 	@extend .label;
 	background-color: $main-blue;
}