input[type="password"],
input[type="email"],
input[type="text"] {
	@include textInput;
	@include rounded-corners($radius);
	@include transition;
		&:focus {
		outline: none;
		box-shadow: $input-focus-shdw;
		border: 1px solid $main-blue;
		}
}
input[type="text"].hardEdge-right {
	@include hardEdge-right;
	//width: 75%;
	clear: left;
	float: left;
}
.hardEdge_left {
	@include hardEdge-left;
}
.col_oneThird {
width: 50%;
margin: 0;
float: left;
}
#post_price {
width: 45%;
}
//#post_location {
//width: 100%;
//}
textarea {
	@include textInput;
	@include rounded-corners($radius);
	@include transition;
	resize: none;
	height: 6.3em;
	clear: left;
	float: left;
	margin: .7em 0 1.4em 0;
	width: 95%;
		&:focus {
		outline: none;
		box-shadow: $input-focus-shdw;
		border: 1px solid $main-blue;
		}
}
input[type="button"] {
	background: $main-green;
	padding: .4em;
	font-size: $font-size;
	color: $wht;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
	border: 1px solid $main-grey;
	cursor: pointer;
	box-shadow: $btn-shading;
	text-shadow: $btn-txt-shading;
	@include transition;
	&:hover,
	&:focus {
		box-shadow: $btn-focus;
		text-shadow: $btn-focus-txt;
		outline:none;
	}
	&:active {
		box-shadow: $btn-active;
		text-shadow: $btn-active-txt;
	}
}

.btn {
	cursor: pointer;
	padding: .4em;
	color: $wht;
	font-size: $font-size;
	font-family: $main-font;
	background: $main-grey;
	border: 1px solid $main-grey;
	box-shadow: $btn-shading;
	@include rounded-corners($radius);
	//text-shadow: $btn-txt-shading;
	@include transition;
	&:hover,
	&:focus {
		box-shadow: $btn-focus;
		color: darken($wht, 5%);
		outline:none;
	}
	&:active {
		box-shadow: $btn-active;
		color: darken($wht, 10%);
	}
}

.btn_green {
	@extend .btn;
	background: $main-green;
}
.btn_blue {
	@extend .btn;
	background: $main-blue;
}
.btn_red {
	@extend .btn;
	background: $main-red;
}
.btn_yellow {
	@extend .btn;
	background: $main-yellow;
}
.btn_darkGrey {
	@extend .btn;
	background: $dk-grey;
}

label {
	font-size: $font-size - .2em;
	display: block;
}
.add_on {
	@include hardEdge-left;
	background: $lt-grey;
	padding: .45em;
	font-size: $font-size;
	font-family: $main-font;
	color: $main-grey;
	border: 1px solid darken($lt-grey, 10%);
	box-shadow: $btn-shading;
	float: left;
	width: auto;
	margin: .1em 0 0 0;
}
/*.form-actions {
width: 33%;
float: left;
}*/
#photoControlGroup {
float: left;
margin: 0 0 0 5%;
width: 38%;
}
#photoControlGroup {
margin: 0;
width: 50%;
}
.col_twoThird + fieldset {
clear: left;
width: 100%;
	> input {
	width: 75%;
	}
}
label[for="post_photo"] {
float: left;
display: inline-block;
}
.controls.thumbnail {
	font-size: $font-size;
	margin: $font-size auto;
	font-weight: 600;
	text-decoration: underline;
}
fieldset > input[type="checkbox"] {
width: auto;
margin: 0;
display: block;
clear: left;
}
//#new_post fieldset:last-child {
//clear: both;
//margin: $font-size 0;
//}
#submitNewPost {
width: 50%;
}
// end
// posts page open & edit btns

// end