body > header:first-child {
	width: 100%;
	height:9.6em;
	font-size: 62.5%;
	background: $main-blue;
	box-shadow: $head-shadow;
	position: relative;
	z-index: 9000;
	hgroup.col2{
		margin: -$font-size 0 0 0;
		h1 {
			text-indent: -99999px;
		}
		.col5 {
			margin: -1.84em 0 0 0;
			img {
				max-width: 100%;
				width: auto;
			}
		}
		.col2 {
			font-size: $font-size;
			color: $wht;
		}
	}
	nav {
		font-size: $font-size;
		color: $wht;
		text-shadow: $txt-shdw;
		margin: 1em 0 0 0;
		.btnNavSprite {
			background: url("icons/navigation/primaryNav_sprite_159x48.png") no-repeat 0 0;
			display: inline-block;
			height: 16px;
			width: 16px;
		}
		.btn_navPosts {
			@extend .btnNavSprite;
			background-position: -32px -32px;
		}
		.btn_navSettings {
			@extend .btnNavSprite;
			background-position: 0 -32px;
		}
		&.col4.pull_right > .row:last-child,
		&.col4.pull_right > .row:last-child > .col3.offset3 > .row {
		margin-top: .5em;
		padding-bottom: .25em;
		}
		a {
			&:link,
			&:visited,
			&:active {
				color: $wht;
				@include transition;
			}
			&:hover {
				color: $lt-grey;
			}
		}
			span {
				cursor:pointer;	
				&:last-child {
					width: 50%;
					float: right;	
				}
				&:hover {
					color: $lt-grey;
				}
			}
			#accountDropDown {
				.BTN_nav_dropDown {
					width: 100%;
					color: $wht;
					@include transition;
					&:hover {
						color: $lt-grey;
					}
				}
				.nav_dropDown {
					clear: left;
					position: relative;
					top: 0;
					left: 0;
					z-index: 9999;
					background: $lt-grey;
					padding: $padding;
					@include rounded-corners($font-size * .125);
					width: auto;
					box-shadow: 0 0 20px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .3);
					border: 1px solid lighten($main-grey, 25%);
				li {
					margin:.7em 0;
					line-height:1.2em;
					a {
						color: $main-grey;
						&:hover {
							color: darken($main-grey, 10%);
						};
					}
				}
				}
			}
			#quickSearchWrapper {
				&> .btn_navSearch {
					@extend .btnNavSprite;
					background-position: -62px -32px;
					position: relative;
					top: 26px;
					left: 6px;
				}
				input[name="quickSearch"] {
					font-size: ($font-size * .5);
					@include rounded-corners($font-size);
					padding-left: $font-size;
					width: 100%;
				}
			}
	}
}
footer {
	clear:both;
	font-size: 62.5%;
	box-shadow: $foot-shadow;
	position:relative;
	z-index:9999;
		nav {
			font-size: $font-size;
			color: $main-grey;
			text-shadow: $txt-shdw;
			margin-top: $font-size * .5;
			//border-left: 1px solid #F8F8F8;
			//box-shadow: inset 1px 0 0 rgba(0, 0, 0, .25);
			width:30%;
			float:left;
			ul {
				li {
					margin: .5em 1em;
					a {
						color: $main-grey;
						@include transition;
						&:hover {
						color: $dk-grey;
						}
					}	
				}
			}
		}
		form {
			width: 45%;
			float: right;
			margin:1.4em 0 0 0;
			fieldset {
				width: 75%;
				float: left;
				&:last-child {
					width: 20%;
					float: left;
				}
				input[type="email"],
				textarea {
					@include rounded-corners(.5em);
					margin: .2em 0;
					width: 90%;
				}
				input[type="button"] {
					width: 100%;
					margin: 5.5em 0 0 0;
				}
			}
		}
		small {
			clear: left;
			display: block;
			margin: 1.4em;
			font-size: 1.1em;
			color: $main-grey;
			a {
				color: $main-grey;
			}
		}
		.wrapper {
		padding-bottom: $font-size * .5;
		}
}
