input[type="password"],
input[type="email"],
input[type="text"] {
	@include textInput;
	@include rounded-corners($radius);
	@include transition;
	margin: ($font-size * .5) auto;
		&:focus {
		outline: none;
		box-shadow: $input-focus-shdw;
		border: 1px solid $main-blue;
		}
}
textarea {
	@include textInput;
	@include rounded-corners($radius);
	@include transition;
	resize: none;
	height: 6.3em;
	clear: left;
	float: left;
	margin: ($font-size * .5) auto;
		&:focus {
		outline: none;
		box-shadow: $input-focus-shdw;
		border: 1px solid $main-blue;
		}
}
input[type="button"],
input[type="submit"] {
	background: $main-green;
	padding: .4em;
	font-size: $font-size;
	color: $wht;
	border-top-right-radius: $radius;
	border-bottom-right-radius: $radius;
	border: 1px solid $main-grey;
	cursor: pointer;
	box-shadow: $btn-shading;
	text-shadow: $btn-txt-shading;
	@include transition;
	&:hover,
	&:focus {
		box-shadow: $btn-focus;
		text-shadow: $btn-focus-txt;
		outline:none;
	}
	&:active {
		box-shadow: $btn-active;
		text-shadow: $btn-active-txt;
	}
}

.btn {
	cursor: pointer;
	padding: .5em;
	margin-top: ($font-size * .4);
	color: $wht;
	font-size: $font-size;
	font-family: $main-font;
	background: $main-grey;
	border: 1px solid $main-grey;
	text-align: center;
	box-shadow: $btn-shading;
	@include rounded-corners($radius);
	@include transition;
	&:hover,
	&:focus {
		box-shadow: $btn-focus;
		color: darken($wht, 5%);
		outline:none;
	}
	&:active {
		box-shadow: $btn-active;
		color: darken($wht, 10%);
	}
}

.btn_green {
	@extend .btn;
	background: $main-green;
}
.btn_blue {
	@extend .btn;
	background: $main-blue;
}
.btn_twitter {
	@extend .btn;
	background: $twitter-blue;
}
.btn_facebook {
	@extend .btn;
	background: $fb-blue;
}
.btn_red {
	@extend .btn;
	background: $main-red;
}
.btn_yellow {
	@extend .btn;
	border: 1px solid $main-yellow;
	background: lighten($main-yellow, 15%);
	color: darken($main-yellow, 25%);
	&:hover,
	&:focus {
		background: lighten($main-yellow, 17%);
		box-shadow: $btn-focus;
		color: darken($main-yellow, 25%);
		outline:none;
	}
	&:active {
		background: lighten($main-yellow, 17%);
		box-shadow: $btn-active;
		color: darken($main-yellow, 25%);
	}
}
.btn_darkGrey {
	@extend .btn;
	background: $dk-grey;
}
.btn_ltGrey{
	@extend .btn;
	background: $lt-grey;
	border: 1px solid lighten($main-grey, 20%);
	color: darken($main-grey, 6%);
	box-shadow: $btn-focus;
	&:hover,
	&:focus {
		background: lighten($lt-grey, 1%);
		box-shadow: $btn-shading;
		color: darken($main-grey, 6%);
		outline:none;
	}
	&:active {
		box-shadow: $btn-active;
		color: darken($main-grey, 6%);
	}
}

.twitIconSmall {
	background: url("icons/navigation/primaryNav_sprite_217x48.png") no-repeat -96px -32px;
	display: inline-block;
	height: 16px;
	width: 16px;
	margin: 2px 2px -2px 0;
}

.twitIconSmall_dark {
	@extend .twitIconSmall;
	background-position: -126px -32px;
}

.twitIcon {
	background: url("icons/navigation/primaryNav_sprite_217x48.png") no-repeat -127px 0;
	display: inline-block;
	height: 32px;
	width: 32px;
	text-indent: -9999px;
}

.facebookIcon {
	background: url("icons/navigation/primaryNav_sprite_217x48.png") no-repeat -159px 0;
	display: inline-block;
	height: 32px;
	width: 32px;
	text-indent: -9999px;
}

.coloradoIcon {
	background: url("icons/navigation/primaryNav_sprite_217x48.png") no-repeat -191px 0;
	display: inline-block;
	height: 26px;
	width: 26px;
}

.twitIcon_dark {
	@extend .twitIcon;
	background-position: 0 0;
}

fieldset > label {
	font-size: $font-size - .2em;
	display: block;
	margin: .8em 0 -.4em 0;
}
label[for="post_photo"] {
	float: left;
	display: inline-block;
}
.controls.thumbnail {
	font-size: $font-size;
	margin: $font-size auto;
	font-weight: 600;
	text-decoration: underline;
}
fieldset > input[type="checkbox"] {
	width: auto;
	margin: 0;
	display: block;
	clear: left;
}
// end