// -- SHADOWS -- 
$head-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 -1px 0 rgba(255, 255, 255, 0.25), inset 0 3px 13px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, .15);
$foot-shadow: 0 -1px 1px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .5);

body > header:first-child {
	width: 100%;
	height:9.6em;
	font-size: 62.5%;
	background: $main-blue;
	box-shadow: $head-shadow;
	position:relative;
	z-index:9000;
	h1 {
		text-indent: -99999px;
	}
	.logo {
		display: inline-block;
		width: 20%;
		float: left;
		margin: -1.84em 0 0 0;
		img {
			width: 100%;
			float: left;
			margin: .2em 0;
		}
		h6 {
			font-size: 1em;
			color: #F0F0F0;
			position: relative;
			top: -1.6em;
			left: 85%;
		}
	}
	nav {
		font-size: $font-size;
		color: $wht;
		text-shadow: $txt-shdw;
		float: left;
		margin: ($font-size - .6em) 0 0 0;
		overflow: hidden;
		padding: 0 0 0 50%;
			span {
				cursor:pointer;	
				&:last-child {
					width: 50%;
					float: right;	
				}
				&:hover {
					color: $lt-grey;
				}
				a {
					color: $wht;
					@include transition;
					&:hover {
						color: $lt-grey;
					}
				}
			}
			.head_aside {
			float: left;
			margin: ($font-size - 1em) $font-size ($font-size - 1em) 0;
			}
			#accountDropDown {
				float: left;
				//width: 15%;
				.BTN_nav_dropDown {
					width: 100%;
					color: $wht;
					@include transition;
					&:hover {
						color: $lt-grey;
					}
				}
				.nav_dropDown {
				clear: left;
				position: relative;
				top: 0;
				left: 0;
				z-index: 9999;
				background: $lt-grey;
				padding: $padding;
				@include rounded-corners(.5em);
				width:125%;
				box-shadow: 0 0 20px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .3);
				border: 1px solid lighten($main-grey, 25%);
				li {
					margin:.7em 0;
					line-height:1.2em;
					a {
						color: $main-grey;
						&:hover {
							color: darken($main-grey, 10%);
						};
					}
				}
				}
			}
			#quickSearchWrapper {
			width: 90%;
			input[name="quickSearch"] {
				font-size: .8em;
				@include rounded-corners(.5em);
				width: 100%;
				}
			}
	}
}
footer {
	clear:both;
	font-size: 62.5%;
	box-shadow: $foot-shadow;
	position:relative;
	z-index:9999;
		nav {
			font-size: $font-size;
			color: $main-grey;
			text-shadow: $txt-shdw;
			margin-top: $font-size * .5;
			//border-left: 1px solid #F8F8F8;
			//box-shadow: inset 1px 0 0 rgba(0, 0, 0, .25);
			width:30%;
			float:left;
			ul {
				li {
					margin: .5em 1em;
					a {
						color: $main-grey;
						@include transition;
						&:hover {
						color: $dk-grey;
						}
					}	
				}
			}
		}
		form {
			width: 45%;
			float: right;
			margin:1.4em 0 0 0;
			fieldset {
				width: 75%;
				float: left;
				&:last-child {
					width: 20%;
					float: left;
				}
				input[type="email"],
				textarea {
					@include rounded-corners(.5em);
					margin: .2em 0;
					width: 90%;
				}
				input[type="button"] {
					width: 100%;
					margin: 5.5em 0 0 0;
				}
			}
		}
		small {
			clear: left;
			display: block;
			margin: 1.4em;
			font-size: 1.1em;
			color: $main-grey;
			a {
				color: $main-grey;
			}
		}
		.wrapper {
		padding-bottom: $font-size * .5;
		}
}
