// small handheld device
@mixin colNoFloatClearFix{
	display: block;
	float: none;
	clear: both;
	width: 100%;
}


// 320-640
@media all and (min-width: 320px) and (max-width: 640px) {
	.wrapper {
		width: 96%;
		max-width: 640px;
		padding: 0;
	}
// HEADER
	body > header.headerUp {
		top: -3.8em;
	}
	body > #mainHeader:focus {
		top: 0;
	}
	body > header.headerTop{
		top: 0;
	}
	body > header.headerHideOnFocus {
		display: none;
	}
	body > header {
		height: 8.4em;
		hgroup.col2 {
			margin: 2.6em 0 0 0;
			width: 20%;
			.col2 {
				width: 100%;
			}
			h6.col2 {
				margin: -.8em 0 0 .6em;
			}
		}
		.row.wrapper {
			padding-bottom: .2em;
		}
		nav.col4.pull_right {
			width: 80%;
			margin: -2em 0 0 0;
			> .row:first-child {
				display: block;
				overflow: visible;
			}
			> .row > .col4.pull_right > .row > .col2.pull_left:first-child {
				margin: -1em auto;
				margin-right: -.25em;
				width: 30%;
			}
			> .row > .col4.pull_right > .row > .col2.pull_left:nth-of-type(2) {
				width: 39%;
				a {
					padding: 1em 5%;
					.btn_navMessages {
						display: block;
						position: relative;
						left: 1.975em;
						top: -.2em;
					}
				}
			}
			#accountDropDown {
				margin-left: -0.25em;
			}
			> .row:last-child {
				width: 75%;
				display: inline-block;
				margin-top: 0;
				padding-bottom: 0;
				> .col4.pull_right {
					margin-left: 0;
					font-size: .675em;
					text-align: center;
					width: 100%;
					> .row {
						margin-top: .9em;
						> .col2 > a, #accountDropDown .BTN_nav_dropDown {
							display: block;
							padding: 1em 20%;
							margin: -.6em auto;
						}
					}
				}
			}
			#quickSearchWrapper {
				width: 100%;
				margin: .4em 0 0 0;
				#quickSearch {
					height: 2em;
				}
				.btn_navSearch {
					background-position: -128px -32px;
					top: 0;
				}
				.quickSearchLabel {
					display: block;
				    font-size: .675em;
				    position: relative;
				    top: 6.6em;
				    left: 72%;
				    width: 25%;
				    text-align: center;
				    line-height: 1.2em;
				    padding: .2em .5em;
						> span:last-child {
							display: block;
							top: 0;
							position: relative;
							left: .8em;
						}
				}
			}
			#accountDropDown .nav_dropDown {
				@include hardEdge-top;
				left: -5.6em;
				width: 9em;
				margin-top: -($font-size * .675);
				font-size: $font-size * .875;
				li:first-child {
					margin-top: -.05em;
				}
				li:last-child {
					border-top: 1px solid lighten($main-grey, 20%);
					width: 115%;
					margin: 0.6em 0 0.3em -7.5%;
					padding: .7em 30% 0 0;
					box-shadow: inset 0 1px 0 rgba(($wht), .75);
				}
			}
			div a:link,
			div a:visited {
				color: $wht;
			}
			.btn_navPosts {
				@extend .btnNavSprite;
				background-position: -32px -30px;
				display: block;
				margin: .5em auto;
			}
			.btn_navSettings {
				@extend .btnNavSprite;
				background-position: 0 -31px;
				margin: .6em auto;
				display: block;
			}
			.BTN_nav_dropDown {
				position: relative;
				top: -1.2em;
			}
			#header_signIn {
				margin-top: .7em;
				font-size: 1.2em;
				text-align: center;
				.col1.offset5 {
					margin: 0;
					width: auto;
				}
			}
		}
	}
// END
// GENERAL CONTENT PAGE LAYOUT
	.page_contentContainer {
		//padding-top: 7.8em;
		margin-top: 0;
		padding-top: 4.8em;
	}
	.page_contentContainer header:first-child {
	margin: 0 0 $font-size 0;
	font-size: $font-size * .5;
	text-align: center;
	}
	.page_contentContainer header p {
	line-height: 1em;
	margin: -.975em 0 0 .045em;
	}
	.page_contentContainer .posts article:last-child {
	display: none;
	}
	.page_contentContainer .posts article:first-child {
	float: left;
	width: 100%;
	}
	.page_contentContainer .form_initialFields input[type="text"], .page_contentContainer .form_initialFields input[type="email"], .page_contentContainer .form_initialFields input[type="password"], .page_contentContainer .form_hiddenFields input[type="text"], .page_contentContainer .form_hiddenFields input[type="email"], .page_contentContainer .form_hiddenFields input[type="password"] {
	width: 95%;
	float: left;
	}
 	.btn {
		display: block;
		width: 100%;
		text-align: center;
		padding: .6em .4em;
		font-size: $font-size * 1.2;
		font-weight: bold;
		text-shadow: $txt-shdw;
	}
	.btn_ltGrey{
		font-weight: 400;
		text-shadow: none;
	}
// END
// FOOTER
	.pageFoot {
		.col4.pull_left {
			width: 100%;
			float: none;
			> li {
				text-align: center;
			}
		}
		.col2.pull_right {
			float: none;
			width: $sixCols * 4;
			margin: ($font-size * .5) 0 ($font-size * .5) $sixCols;
			> li {
				float: left;
			}
			> li:first-child,
			> li:last-child {
				margin: 0;
				
			}
			> li:nth-of-type(2) {
				margin: 0 ($sixCols * 1.5);
			}
		}
	}
// END
// ALERTS
	#explanation_bubble {
		width: 100%;
	}
// HOMEPAGE
	.homepage {
		> .row {
			> .col6 {
				> .row > .col3.offset1{
					width: 100%;
					margin-left: 0;
				}
				> aside > .col2.offset2.btn_blue {
					width: 100%;
					margin-left: 0;
				}
			}
		}
		.homeSignedIn {
			> .col4,
			> .col2 {
				width: 100%;
			}
			.userInfo {
				padding-left: 0;
			}
			h1 {
				font-size: ($font-size * 1.125);
			}
		}
		.homeNotSignedIn {
			h1.headline {
				font-size: ($font-size * 1.75);
				margin-top: ($font-size * .5);
			}
			.col4,
			.col2 {
				width: 100%;
				margin-left: 0;
			}
		}
		.home_featurePost {
			width: 100%;
			margin-left: 0;
		}
	}
// END
// SIGN IN
	#newSessionWrapper {
		.col3 {
			width: 100%;
		}
		.offset4 {
			margin-left: 0;
		}
	}
// END
// SIGN UP
	.wrapper_newUser {
		.col3, .col4, .col2 {
			width: 100%;
			display: block;
		}
	}
// END
// EMAIL REFERENCE PAGE
		#emailVerificationWrapper{
			.col3{
				width: 100%;
				p{
					font-size: $font-size * .8;
				}
			}
		}
// END
// USER EDIT
	#editUsers{
		.col3{
			width: 100%;
		}
	}
	// style for user show (with list of posts) and post search
	#userPostsWrapper, #searchPostWrapper, #viewPostsWrapper{
		&> .col2, &> .col4{
			@include colNoFloatClearFix;
		}
	}
	#userPostsWrapper, #searchPostWrapper{

		.userInfo{
			padding-left: 0;

			
		}

		#userPosts, #postSearchResults{
			padding: 20px 10px 20px 10px;
			.title_row{
				header{
					margin-bottom: 0px;
					padding-bottom: 5px;
				}
				.btn_green{
					width: 100%;
				}
				#postsFilters{
					//text-align: center;
				}
				#add_more_networks{
					.col3{
						padding-left: 0px;
						padding-right: 0px;
						@include colNoFloatClearFix;
					}
				}
			}
		}
	}

	// Starting node in _post.html.erb
	.postArticle{
		.col1{
			width: ($sixCols * 2);

			img{
				width: 80px;
			}
		}
		.col5{
			padding-left: 0px;
			width: ($sixCols * 4);

			h4{
				font-size: $font-size * .9;
			}

			span{
				font-size: $font-size * .7;
				padding-top: 2px;
				padding-bottom: 2px;
				padding-left: 12px;
				padding-right: 12px;
				margin-top: 0px;
				margin-left: 10px;
			}

			p{
				font-size: $font-size * .8;
			}
		}
	}

	// styles for post (not comments)
	#post {
		.col4, .col2 {
			@include colNoFloatClearFix;
		}
		#postContent{
			padding: 0px 0px 0px 0px;

			.innerHeader {
				p{
					text-align: center;
				}
			}

			#postDetails{
				.col3.pull_right {
					width: 35%;
					.img_border {
						position: relative;
						z-index: 9999;
					}
				}
				.col3.pull_left.postInfo {
				width: 65%;
				}
				#postInfo{
					.col2, .col3{
						width: auto;
						float: left;
					}
					dl{
						font-size: $font-size * .8;
						padding-top: 0px;
						padding-left: 0px;
						dt.col2{
							padding: 3px 3px;
							width: 54%;
						}
						dd{
							padding: 3px 3px;
						}
					}
				}

				#postDescription{
					width: 100%;
					p{
						font-size: $font-size * .9;
					}
					a{
						width: 30%;
					}
				}
			}// end #postDetails
			#postReplyWrapper, #postControlsWrapper{
				padding: 0px 0px 0px 0px;
				#postReply{
					padding: 20px 20px 5px 20px;
				}
				.innerHeader {
					p{
						text-align: left;
					}
				}
			}// end #postReplyWrapper
			#closedPostWrapper, #postControls{
				padding: 0px 0px 0px 0px;
				#closedPost{
					padding: 20px 20px 20px 20px;
				}
			}
		}// end #post
		#comments {
			margin-top: 10px;

			#commentContent{
				p{
					font-size: $font-size * .7;
				}

				.comment{

					.col5{
						margin: 0 !important;

						.timestamp{
							font-size: $font-size * .5 !important;
						}
					}
				}
			}
			#signUpWrapper{
				p{
					font-size: $font-size * .8;
				}
				.col2{
					.offset1{
						margin-left:0px;
					}
				}
				.col4{
					margin-top: 10px;
				}
			}	

		}// end #comments
	}// end #posts
	
// CREATE POST
	.createPost {
		.row > article.col4 {
			width: 100%;
			display: block;
		}
		.userInfo {
			display: none;
		}
		#post_content {
			width: 100%;
			height: 4.8em;
		}
		#photoControlGroup {
			width: 100%;
				> .controls.thumbnail > input[type="file"] &.iePhoto {
				position: relative;
				top: 0;
				left: 0;
				display: block;
			}
		}
		.postSocialAccount {
			margin: ($font-size * .25) auto;
			width: 100%;
			header {
				font-size: $font-size * .875;
				border-bottom: 1px solid $lt-grey;
				border-top: 1px solid $lt-grey;
				padding: ($font-size * .25) 0;
				margin: ($font-size * .25) auto;
			}
			> fieldset > label {
				text-indent: $font-size;
				> span {
					//margin-left: 2em;
					//margin-top: -($font-size * .5);
				}
			}
		}
	}
	#post_location {
		width: 100%;
	}
	.form-actions {
		float: right;
		&> span {
			display: block;
		}
	}
// END
// FLASH NOTICES
	#success_explanation,
	#error_explanation,
	#notice_explanation {
		width: 98%;
		text-align: left;
	} 
// END
// SHOW MESSAGE
	#msgArticles {
		&.col4, &.pull_left {
			width: 100%;
			float: none;
		}
	}
	.message {
		> .col4, .col2, .pull_left, .pull_right {
			width:100%;
			float: none;
		}
		> aside {
			margin-top: ($font-size * .5);
		}
	}
	.messages {
		article.col4 {
			width: 100%;
			padding: 15px;

			.postArticle{
				padding-left: 0px;
				padding-right: 0px;
			}
		}
	}
// END
// SOCIAL NETWORKS
	.accounts {
		.col4, .col2 {
			width: 100%;
			display: block;
		}
		.col2 {
			padding-left: 0;
		}
		article ul {
			li {
				margin-bottom: ($font-size * 1.5);
				&:first-child {
				margin-bottom: 0;
				}
			}
			&:last-child li {
				margin: 1.6em 0;
				&:first-child {
					margin-top: .8em;
				}
			}
		}
		ul.networks_metaData,
		#account-actions > span {
			display: none;
		}
		ul.col1 {
			width: 25%;
		}
		#account-actions > a:last-child {
			width: auto;
		}
		#account-actions > a:first-child {
			display: none;
		}
	}
// END
// REQUEST INVITE
	.invite_wrapper {
		h1.headline {
			font-size: ($font-size * 1.875);
		}
		.col1, .col2, .col3, .col4, .col5 {
			width: 100%;
		}
		.offset1, .offset2, .offset3, .offset4, .offset5 {
			margin-left: 0;
		}
		.pull_left, .pull_right {
			clear: both;
			float: none;
		}
		input[type="password"], input[type="email"], input[type="text"] {
			height: 2.6em;
		}
	}
//END
// ABOUT US PAGE
	.aboutUs {
		.col3 {
			width: 100%;
		}
	}
//END
// CONTACT US PAGE
	.contactUs {
		.col4 {
			width: 100%;
		}
		.offset1 {
			margin-left: 0;
		}
	}
//END
// HELP PAGE
	.getHelp {
		> .col3.grey_well {
			width: 100%;
			background-color: none;
			border: none;
			padding: 0;
		}
	}
// END

}
// END 320-640

// 500-640
@media all and (min-width: 480px) and (max-width: 640px) {
// HEADER
	body > header:first-child {
		hgroup.col2 {
			margin: 1.6em 0 0 0;
		}
		nav {
			overflow: visible;
			width: 100%;
			&.col4.pull_right > .row:first-child {
				width: 50%;
				float: right;
				margin: -3.6em 0 0 0;
			}
			&.col4.pull_right > .row:last-child {
				width: 100%;
				margin:0 0 .4em 0;
				float: right;
			}
			&.col4.pull_right .btn_navMessages {
				display: block;
				margin: 0 0 0 2.2em;
			}
			.col4.pull_right > .row > .col4.pull_right > .row > .col2.pull_left {
				margin-left: -.5em;
			}
			&.col4.pull_right > .row > .col4.pull_right > .row > .col2 {
				width: 27%;
				float: left;
			}
		}
		.col4.pull_right > .row > .col4.pull_right > .row > .col2.pull_left:first-child,
		.col4.pull_right > .row > .col4.pull_right > .row > .col2,
		.col4.pull_right > .row > .col4.pull_right > .row > .col2.pull_left:nth-of-type(2) {
			width: $sixCols * 2;
			padding: 0;
			a .btn_navMessages {
				left: 0;
			}
		}
	}
	body > header nav.col4.pull_right {
	width: 80%;
	margin: ($font-size) 0 0 0;
	}
// END HEADER
// REQUEST INVITE
	.invite_wrapper {
		article{
		
			> #home_slinggitIcons {
			width: 15%;
			max-width: none;
			margin-left: 2.5%;
			}
		
			> .col3.pull_left h3.row {
			width: 100%;
			margin-left: 0;
			}
		
		}
	}
// END REQUEST INVITE

}
// END 500-640

// 641-800
@media all and (min-width: 641px) and (max-width: 800px) {
// HEADER 
	body > header:first-child {
		nav > .row:nth-of-type(2) > .col4.pull_right {
			font-size: .75em;
			margin-top: .25em;
		}
		.col3 {
			width: 65%;
		}
		.offset3 {
			margin-left: 35%;
		}
	}
// END HEADER
// REQUEST INVITE
	.invite_wrapper {
		> .col4,
		> .col2 {
			width: 100%;
		}
		.homeBuckets {
			padding-left: 0;
		}
 		article .row.grey_well {
		    width: 100%;
			p {
				padding-left: 0;
			}
			label {
				padding-left: 0;
			}
		}	
	}
// END REQUEST INVITE

}
// END 641-800

// 801-960
@media all and (min-width: 801px) and (max-width: 960px) {
// HEADER 
	header:first-child {
		nav > .row:nth-of-type(2) > .col4.pull_right {
			font-size: 14px;
		}
	}
// END HEADER
// REQUEST INVITE
	.invite_wrapper {
		article{
			> #home_slinggitIcons {
				width: ($sixCols * 1.5);
				margin-left: ($sixCols * .25);
				margin-right: ($sixCols * .25);
			}
			> .col3.pull_left {
				width: ($sixCols * 4);
			}
			.headline { //.headline_bold {
				font-size: $font-size * 2.25;
			}
			h3.row.headline {
				font-size: 3.6em;
			}
			> .col4.offset1.grey_well {
				margin-top: 0;
				margin-left: 0;
				width: ($sixCols * 2);
				font-size: ($font-size * .5);
				clear: left;
				float: left;
				.twitIcon {
					margin-left: $sixCols;
					margin-right: $sixCols;
				}
				.facebookIcon {
					margin-left: $sixCols;
				}
			}
			> .col4.offset1 {
				margin-left: 0;
				margin-top: 0;
				clear: right;
				float: right;
				.row.grey_well {
					margin: 0;
					label, p {
						padding-left: 2.4em;
					}
				}
			}
		}
	}
// END REQUEST INVITE
}

// END 801-960


//just a little white space for buffer