  //styles for notices
#success_explanation_bubble {
	background: lighten($main-green, 15%);
	color: $wht;
	box-shadow: 0 1px 0 rgba(0,0,0,.2);
	width: 50%;
	margin: 0 auto;
	text-align: center;
	font-size: ($font-size * .8);
	padding: 1em .8em .8em;
	margin-top: -1em;
	@include hardEdge-top;
}

  #error_explanation_bubble {
    @extend #success_explanation_bubble;
    background: lighten($main-red, 15%);
  }

  #notice_explanation_bubble {
    @extend #success_explanation_bubble;
    background: lighten($main-yellow, 15%);
    color: $main-grey;
  }

#error_explanation {
	float: left;
	color: $main-red;
	font-size: ($font-size * .8);
	line-height: $leading;
	letter-spacing: .1em;
	margin: 0 0 1em 0;
}


  //end