// small handheld device
@media all and (min-width: 320px) and (max-width: 640px) {
	.wrapper {
		width: 96%;
		max-width: 640px;
		padding: 0;
	}
	body > header:first-child .logo a:link {
	width: 85px;
	display: block;
	overflow: hidden;
	}
	body > header:first-child {
		position: fixed;
		height:5.5em;
		.logo {
		width: 30%;
		}
		.logo h6 {
			top: -7px;
			left: 8px;
		}
		nav {
			margin: 0;
			padding: 1.4em 0;
			width: 70%;
		 	div {
				float: left;
				width: 50%;
				text-align: center;
			}
			.head_aside {
				margin: 0;
			}
			#accountDropDown {
				float: right;
				width: 50%;
				text-align: center;
				.nav_dropDown {
					left: 0;
					top: .65em;
					@include rounded-corners;
					width: 95%;
					text-align: right;
					box-shadow: none;
					border-top: none;
					padding: 0;
					li {
						font-size: $font-size * .5;
						line-height: $font-size *.5;
						padding: .7em 7.5% .7em 0;
						&:last-child {
							border-top: solid 1px lighten($main-grey, 25%);
							box-shadow: inset 0 1px 0 $wht;
						}
					}
				}
			}
		 span {
			float: none;
			}
		}
		div a:link,
		div a:visited {
			color: $wht;
		}
		#quickSearchWrapper {
			display: none;
		}
	}
	.page_contentContainer {
		padding-top: 6.3em;
	}
	.page_contentContainer header:first-child {
	margin: 0 0 $font-size 0;
	font-size: $font-size * .5;
	text-align: center;
	}
	.page_contentContainer header p {
	line-height: 1em;
	margin: -.975em 0 0 .045em;
	}
	.page_contentContainer .posts article:last-child {
	display: none;
	}
	.page_contentContainer .posts article:first-child {
	float: left;
	width: 100%;
	}
	/*input[type="text"].hardEdge-right {
	width: 75%;	
	}*/
	.page_contentContainer .twoCol:first-child {
	margin: 1.4em auto;
	//border-bottom: 1px solid #F8F8F8;
	padding: 0 5%;
	//box-shadow: 0 1px 0 rgba(62, 62, 62, .2);
	}
	.page_contentContainer .twoCol {
	width: 100%;
	float: none;
	display: block;
	}
	.page_contentContainer .form_initialFields input[type="text"], .page_contentContainer .form_initialFields input[type="email"], .page_contentContainer .form_initialFields input[type="password"], .page_contentContainer .form_hiddenFields input[type="text"], .page_contentContainer .form_hiddenFields input[type="email"], .page_contentContainer .form_hiddenFields input[type="password"] {
	width: 95%;
	float: left;
	}
	.posts article:first-child fieldset.col_oneThird,
	.posts article:first-child fieldset.col_twoThird {
	width: 45%;
	margin: 0;
	float: left;
	clear: none;
	}
	#post_price {
	width: 50%;
	}
	#post_location {
	width: 100%;
	}
	.form-actions {
		float: right;
		span {
			display: block;
		}
	}
 	.btn {
		display: block;
		width: 95%;
		margin: 0 auto;
		text-align: center;
		padding: .6em .4em;
		font-size: $font-size * 1.2;
		font-weight: bold;
		text-shadow: $txt-shdw;
	}
	.page_contentContainer #session_password,
	.page_contentContainer #session_email {
	
	}

	// styles for post (not comments)
	#post {
		.col4, .col2 {
			display: block;
			float: none;
			clear: both;
			width: 100%;
		}
		#postContent{
			//ask Chase why I have to put !important here. Sure it's a load order thing.
			padding: 0px 0px 0px 0px !important;;
			#postDetails{
				.col3.pull_right {
				width: 35%;
					.img_border {
					position: relative;
					z-index: 9999;
					}
				}
				.col3.pull_left.postInfo {
				width: 65%;
				}
				#postInfo{
					.col2, .col3{
						width: auto;
						float: left;
					}
					dl{
						//ask Chase why I have to put !important here. Sure it's a load order thing.
						font-size: $font-size * .8 !important;
						padding-top: 0px !important;
						padding-left: 0px !important;
						dt.col2{
							padding: 3px 3px;
							width: 54%;
						}
						dd{
							padding: 3px 3px;
						}
					}
				}

				#postDescription{
					width: 100%;
					p{
						font-size: $font-size * .9;
					}
				}
			}// end #postDetails
			#postReplyWrapper{
				//ask Chase why I have to put !important here. Sure it's a load order thing.
				padding: 0px 0px 0px 0px !important;
				.offset1 {
					margin-left: 0;

				}
				#postReply{
					#postReplyActions{
						.row {
							//ask Chase why I have to put !important here. Sure it's a load order thing.
							margin-bottom: 0px !important;
						}
					}
				}
			}// end #postReplyWrapper

		}// end #post
		#comments {

			#commentContent{
				p{
					font-size: $font-size * .7;
				}

			}
		}// end #comments
	}// end #posts
	
	//responsive styles for posts_create
	.createPost {
		.row > article.col4 {
			width: 100%;
			display: block;
		}
		article:last-child {
			display: none;
		}
		#new_post {
			border: none;
			padding:0;
			@include rounded-corners;
			background: transparent;
		}
			.new_post > div.row > fieldset.col2.pull_left {
				width: 44%;
			}
			.new_post > div.row > fieldset.col4.pull_left {
				float: right;
				width: 55%;
				margin: 0 1% 0 0;
			}
			#post_hashtag_prefix {
				width: 79%;
			}
			#post_content {
				width: 100%;
				height: 4.8em;
				margin: 0 auto;
			}
			#submitNewPost {
				width: 100%;
			}
	}
	  //styles for notices
	#success_explanation,
	#error_explanation,
	#notice_explanation {
		width: 98%;
		text-align: left;
	} 
	  //end
}
//this bracket closes the 320-640 media query	
//end