// small handheld device
@mixin colNoFloatClearFix{
	display: block;
	float: none;
	clear: both;
	width: 100%;
}
@media all and (min-width: 320px) and (max-width: 640px) {
	.wrapper {
		width: 96%;
		max-width: 640px;
		padding: 0;
	}
	//header
	body > header:first-child .logo a:link {
	width: 85px;
	display: block;
	overflow: hidden;
	}
	body > header:first-child {
		position: fixed;
		height:6.8em;
		.col4.pull_left {
		width: 85%;
		}
		img.col2 {
			width: 88%;
		}
		h6.col2 {
			margin: -1em 0 0 .8em;
		}
		nav {
			overflow: visible;
			&> .row > .col3.offset3 {
			width: 100%;
			margin-left: 0;
			margin-bottom: .4em;
			}
			&.col4.pull_right > .row:last-child,
			&.col4.pull_right > .row:last-child > .col3.offset3 > .row {
				//margin-top: .4em;
				padding-bottom: .25em;
			}
			#accountDropDown .nav_dropDown {
				@include hardEdge-top;
				left: -2.5em;
				width: 8.85em;
				text-align: right;
				margin-top: .5em;
					li:first-child {
						margin-top: -.05em;
					}
					li:last-child {
						border-top: 1px solid lighten($main-grey, 20%);
						width: 115%;
						margin: 0.6em 0 0.3em -7.5%;
						padding: .7em 30% 0 0;
						box-shadow: inset 0 1px 0 rgba(($wht), .75);
					}
				}
		div a:link,
		div a:visited {
			color: $wht;
		}
		#quickSearchWrapper {
			&> .btn_navSearch {
				@extend .btnNavSprite;
				background-position: -62px -32px;
				position: relative;
				top: 24px;
				left: 6px;
				margin-right: 10px;
			}
			#quickSearch {
				padding: .25em 0 .25em 10%;
				height: 2em;
			}
		}
		.btn_navPosts {
			@extend .btnNavSprite;
			background-position: -32px -30px;
			}
		.btn_navSettings {
			@extend .btnNavSprite;
			background-position: 0 -31px;
			}
		}
	}
	//end header
	//general page styles
	.page_contentContainer {
		padding-top: 7.8em;
	}
	.page_contentContainer header:first-child {
	margin: 0 0 $font-size 0;
	font-size: $font-size * .5;
	text-align: center;
	}
	.page_contentContainer header p {
	line-height: 1em;
	margin: -.975em 0 0 .045em;
	}
	.page_contentContainer .posts article:last-child {
	display: none;
	}
	.page_contentContainer .posts article:first-child {
	float: left;
	width: 100%;
	}
	.page_contentContainer .form_initialFields input[type="text"], .page_contentContainer .form_initialFields input[type="email"], .page_contentContainer .form_initialFields input[type="password"], .page_contentContainer .form_hiddenFields input[type="text"], .page_contentContainer .form_hiddenFields input[type="email"], .page_contentContainer .form_hiddenFields input[type="password"] {
	width: 95%;
	float: left;
	}
 	.btn {
		display: block;
		width: 100%;
		text-align: center;
		padding: .6em .4em;
		font-size: $font-size * 1.2;
		font-weight: bold;
		text-shadow: $txt-shdw;
	}
	.btn_ltGrey{
		font-weight: 400;
		text-shadow: none;
	}
	//end
	//alerts
	#explanation_bubble {
		width: 100%;
	}
	//home page
	.homepage {
		.offset2 {
		margin-left: 0;
		}
	}
	//end
	//new session page
	.wrapper_newSession {
		.col3 {
			width: 100%;
		}
		.offset4 {
			margin-left: 0;
		}
	}
	//end
	//new user page
	.wrapper_newUser {
		.col3, .col4, .col2 {
			width: 100%;
			display: block;
		}
	}
	//end

	// styles for user edit
	#editUsers{
		.col3{
			width: 100%;
		}
	}
	// style for user show (with list of posts) and post search
	#userPostsWrapper, #searchPostWrapper{
		&> .col2, &> .col4{
			@include colNoFloatClearFix;
		}
	}
	#userPostsWrapper, #searchPostWrapper{

		#user{
			padding-left: 0;

			#userInner{

				.col4{
					header{
						text-align: left;
						h1{
							font-size: $font-size * 1.1;
						}
						h6{
							padding-top: 5px;
							font-size: $font-size *.9;
						}
					}
				}

			}
		}

		#userPosts, #postSearchResults{
			padding: 20px 10px 20px 10px;
			.title_row{
				.btn_green{
					width: 100%;
				}
			}
			.postArticle{
				.col1{
					width: ($sixCols * 2);

					img{
						width: 80px;
					}
				}
				.col5{
					width: ($sixCols * 4);

					h4{
						font-size: $font-size * .9;
					}

					p{
						font-size: $font-size * .8;
					}
				}
			}
		}
	}

	// styles for post (not comments)
	#post {
		.col4, .col2 {
			@include colNoFloatClearFix;
		}
		#postContent{
			padding: 0px 0px 0px 0px;
			#postDetails{
				.col3.pull_right {
				width: 35%;
					.img_border {
					position: relative;
					z-index: 9999;
					}
				}
				.col3.pull_left.postInfo {
				width: 65%;
				}
				#postInfo{
					.col2, .col3{
						width: auto;
						float: left;
					}
					dl{
						font-size: $font-size * .8;
						padding-top: 0px;
						padding-left: 0px;
						dt.col2{
							padding: 3px 3px;
							width: 54%;
						}
						dd{
							padding: 3px 3px;
						}
					}
				}

				#postDescription{
					width: 100%;
					p{
						font-size: $font-size * .9;
					}
				}
			}// end #postDetails
			#postReplyWrapper, #postControlsWrapper{
				padding: 0px 0px 0px 0px;
				#postReply{
					padding: 20px 20px 5px 20px;
				}
			}// end #postReplyWrapper
			#closedPostWrapper, #postControls{
				padding: 0px 0px 0px 0px;
				#closedPost{
					padding: 20px 20px 20px 20px;
				}
			}
		}// end #post
		#comments {
			margin-top: 10px;

			#commentContent{
				p{
					font-size: $font-size * .7;
				}

				.comment{

					.col5{
						margin: 0 !important;

						.timestamp{
							font-size: $font-size * .5 !important;
						}
					}
				}
			}
			#signUpWrapper{
				p{
					font-size: $font-size * .8;
				}
				.col2{
					.offset1{
						margin-left:0px;
					}
				}
				.col4{
					margin-top: 10px;
				}
			}	

		}// end #comments
	}// end #posts
	
	//responsive styles for posts_create
	.createPost {
		.row > article.col4 {
			width: 100%;
			display: block;
		}
		aside {
			display: none;
		}
		#post_content {
			width: 100%;
			height: 4.8em;
		}
		#photoControlGroup {
			//display: none;
		}
		.twitterPostAccount {
			margin: .4em auto;
			width: 100%;
			font-size: $font-size;
		}
	}
	#post_location {
		width: 100%;
	}
	.form-actions {
		float: right;
		&> span {
			display: block;
		}
	}
	  //styles for notices
	#success_explanation,
	#error_explanation,
	#notice_explanation {
		width: 98%;
		text-align: left;
	} 
	  //end
	// hide the image slideshow on the homepage 
	.pics {
	display: none;
	}
	//end
	//show messages style
	#msgArticles {
		&.col4, &.pull_left {
			width: 100%;
			float: none;
		}
	}
	.message {
		> .col4, .col2, .pull_left, .pull_right {
			width:100%;
			float: none;
		}
		> aside {
			margin-top: ($font-size * .5);
		}
	}
	//end
	//social networks page
	.accounts {
		.col4, .col2 {
			width: 100%;
			display: block;
		}
		.col2 {
			padding-left: 0;
		}
		article ul {
			li {
				margin-bottom: ($font-size * 1.5);
				&:first-child {
				margin-bottom: 0;
				}
			}
			&:last-child li {
				margin: 1.6em 0;
				&:first-child {
					margin-top: .8em;
				}
			}
		}
		ul.networks_metaData,
		#account-actions > span {
			display: none;
		}
		ul.col1 {
			width: 25%;
		}
		#account-actions > a:last-child {
			width: auto;
		}
		#account-actions > a:first-child {
			display: none;
		}
	}
	//end
	// email reverification page
		#emailVerificationWrapper{
			.col3{
				width: 100%;
				p{
					font-size: $font-size * .8;
				}
			}
		}
	//end
}
//this bracket closes the 320-640 media query
//end

//641px and up
@media all and (min-width: 641px) and (max-width: 960px) {
	
}
//this bracke closes the 641+ media query
//end




//just a little white space for buffer