body > header:first-child {
	width: 100%;
	height:5.6em;
	font-size: 62.5%;
	background: $main-blue;
	box-shadow: $head-shadow;
	position: relative;
	z-index: 9000;
	hgroup.col2{
		margin: -$font-size 0 0 0;
		h1 {
			text-indent: -99999px;
		}
		.col2 {
			img {
				max-width: 100%;
				height: 100%;
				width: auto;
			}
		}
		.col2 {
			font-size: ($font-size * .5);
			color: $wht;
		}
	}
	nav {
		font-size: $font-size;
		color: $wht;
		text-shadow: $txt-shdw;
		margin: -($font-size * .5) 0 0 0;
		.btnNavSprite {
			background: url("icons/navigation/primaryNav_sprite_222x48.png") no-repeat 0 0;
			display: inline-block;
			height: 16px;
			width: 16px;
		}
		.btn_navPosts {
			@extend .btnNavSprite;
			background-position: -32px -32px;
			vertical-align: middle;
		}
		.btn_navSettings {
			@extend .btnNavSprite;
			background-position: 0 -32px;
			vertical-align: middle;
		}
		&.col4.pull_right > .row:last-child,
		&.col4.pull_right > .row:last-child > #quickSearchWrapper > .row {
		margin-top: .4em;
		padding-bottom: .25em;
		}
		a {
			&:link,
			&:visited,
			&:active {
				color: $wht;
				@include transition;
				vertical-align: middle;
			}
			&:hover {
				color: $lt-grey;
			}
		}
			span {
				cursor:pointer;	
				&:last-child {
					width: 50%;
					float: right;	
				}
				&:hover {
					color: $lt-grey;
				}
			}
			#accountDropDown {
				.BTN_nav_dropDown {
					width: 100%;
					padding: 5px 2px 15px 0;
					line-height: 1.2em;
					color: $wht;
					//vertical-align: middle;
					@include transition;
					&:hover {
						color: $lt-grey;
					}
				}
				.nav_dropDown {
					clear: left;
					position: relative;
					top: 0;
					left: 0;
					z-index: 9999;
					background: $lt-grey;
					padding: $padding;
					@include rounded-corners($font-size * .125);
					width: auto;
					box-shadow: 0 0 20px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .3);
					border: 1px solid lighten($main-grey, 25%);
				li {
					margin:.7em 0;
					line-height:1.2em;
					a {
						color: $main-grey;
						&:hover {
							color: darken($main-grey, 10%);
						};
					}
				}
				}
			}
			#quickSearchWrapper {
				&> .btn_navSearch {
					@extend .btnNavSprite;
					background-position: -62px -32px;
					position: relative;
					top: 21px;
					left: 6px;
				}
				input[name="quickSearch"] {
					font-size: ($font-size * .5);
					@include rounded-corners($font-size);
					padding-left: $font-size;
					width: 100%;
				}
				#quickSearch {
					margin: 0 auto;
					height: 1.6em;
					padding: 0 0 0 1.6em;
				}
			}
	}
}
footer.pageFoot {
	clear:both;
	font-size: 62.5%;
	box-shadow: $foot-shadow, inset 0 5px 15px rgba(255,255,255,.3);
	position:relative;
	z-index:9999;
	padding-bottom: $font-size;
		nav {
			font-size: $font-size;
			color: $main-grey;
			text-shadow: $txt-shdw;
			margin-top: $font-size * .5;
			ul {
				li {
					margin: ($font-size * .5) 0;
					a {
						color: $main-grey;
						@include transition;
						&:hover {
							color: $dk-grey;
						}
					}	
				}
			}
		}
	small {
		font-size: 1.1em;
		color: $main-grey;
		line-height: 1.2em;
		a {
			color: $main-grey;
		}
	}
	.coloradoIcon {
		background: url("icons/navigation/primaryNav_sprite_222x48.png") no-repeat -191px 0;
		height: 29px;
		width: 29px;
		margin-top: 1.8em;
		margin-bottom: 1em;
		+ span {
			font-size: $font-size * .75;
			color: $main-grey;
			margin-top: 2.6em;
		}
	}
	ul.col3.pull_right li > a {
	margin: 0 0 0 ($font-size * .5);
	}
}
