.message {
  article {
    &> .row {
      padding: ($font-size * .2) 0;
      margin: ($font-size * .2) auto;
      width: 98%;
      &:first-child {
        margin-top: -($font-size * .5);
      }
    }
    small, dl {
      font-size: ($font-size * .8);
    }
    dl {
      border-bottom: 1px solid $lt-grey;
    }

    p.title{
      font-weight: bold;
    }
  }
}

.messages {
	article {
		margin-top: 1em;
	}
	#counter_message_body {
		color: $main-red;
		float: right;
	}
	label {
		font-size: $font-size;
		line-height: $leading;
	}
}

#msgArticles {
  #msgArticleWrapper {
    a .row {
      margin: .8em auto;
    }
  }
  .timestamp {
    font-size: ($font-size * .6);
    padding: ($font-size * .2) 0;
    margin: ($font-size * .2) auto;
    line-height: $leading;
  }
  .timestamp + a:link,
  .timestamp + a:visited,
  .timestamp + a:active {
    float: right;
    color: $main-red;
    font-size: ($font-size * .6);
  }
  .timestamp + a:hover,
  .timestamp + a:focus {
    color: darken($main-red, 20%);
  }
}

p.messageUnread {
  font-weight: bold;
  color: $black
}

p.messageRead {
  font-weight: 400;
  color: $black
}