// Specfic styles for the posts sidebar
#post {

	#postContent{
		padding: 10px 0px 10px 0px;

		.contentHeader{
			border-bottom: 1px solid $lt-grey;
		}

		.innerHeader {
			padding: 10px 10px 0px 10px;

			#postStatus{
				text-align: right;
			}
			#postStatus.true{
				color: darken($main_green, 20%);
			}
			#postStatus.false{
				color: darken($main_yellow, 20%);
			}
		}

		#postDetails{
			margin-top: 10px;
			background-color: white;
			padding: 20px;
			border: 1px solid #e8e8e8;
			@include rounded-corners(3px);

			#postInfo{
				vertical-align: top;

				dl{
					margin-top: 10px;
					font-size: $font-size * 1.1;

					dt{
						padding: 5px 5px;
						font-weight: 600;
					}

					dd{
						text-align: right;
						padding: 5px 5px;
					}
				}
			}

			#postDescription {
				p{
					padding: 15px 5px 5px 5px;
					font-size: $font-size;
				}
				a{
					font-size: $font-size * .7;
				}

			}

		}

		#postReplyWrapper, #postControlsWrapper{
			@include sidbarWrapper;
			
			#postReply, #postControls{
				@include white-well;

				.contentHeader{
				}

				.innerHeader {
					padding: 0px 0px 10px 0px;

					strong{
						font-weight: 600;
					}
				}

				#postReplyActions, #postContolsActions{
					padding: 20px 0px 0px 0px;

					.row {
						margin-bottom: 20px;

						.col2{
							min-width: 70px;
						}
					}

					.grey_well{
						text-align: center;

						p{
							font-size: $font-size *.9;
						}
						a{
							font-weight: 600;
							color: $dk-grey;
						}
					}
			
				}

			}// end #postReply, #postControls
			#networkActions{

				a{
					font-size: $font-size * 1;
					color: darken($main-blue, 20%);
					text-align: center;
					background-color: lighten($lt-grey, 12%);
					border: 1px solid lighten($lt-grey, 8%);
					padding-top: 7px;
					padding-bottom: 7px;
					margin-bottom: 4px;

					&:hover{
						border: 1px solid lighten($lt-grey, 5%);
					}
				}
			}
		}

		#closedPostWrapper{
			@include sidbarWrapper;

			#closedPost{
				@include white-well;
				padding: 20px;
				text-align: center;

				.innerHeader {
					padding: 0px 0px 10px 0px;
				}

				p{
					font-size: $font-size * 1.2;
				}

				#findSimilar{
					margin-top: 15px;
				}
			}
		}


	}// end #postContent

	#comments{

		&> div {
			@include white-well;
			padding: 20px;

			#commentContent {

				&> div > p{
					font-size: $font-size * 1.1;
				}

				h3{
					padding: 0px 0px 10px 0px;
					margin: 0px 0px 20px 0px;
					border-bottom: 1px solid $dk-grey;

					strong{
						font-weight: 600;
					}
				}

				.comment{
					border-bottom: 1px solid $lt-grey;
					padding: 8px 0 8px;
					.col1{
						max-width: 90px;
					}
					.col5{
						padding-left: 10px;
						margin-top: 10px;
						.timestamp{
							font-size: $font-size * .7;
							a{
								font-weight: 600;
								color: $dk-grey;
							}
						}
					}
				}
				hr{
					background-color: green;
				}

			}

			#commentInput{
				margin-top: 20px;

				textarea{
					width: 100%;
				}
			}

			#signUpWrapper{
				margin-top: 20px;
				background-color: $wht;
				border: 1px solid #e8e8e8;
				@include rounded-corners(3px);

				&> div {
					padding: 20px;

					.col2{
						margin-top: 3px;
					}
					.col4{
						margin-top: 10px;
					}
				}
			}

		}
	}// end #comments

}// end #post