.createPost {
	> .row > article {
		margin-top: 10px;
	}
	> .contentHeader{
		border-bottom: 1px solid $lt-grey;
	}
	aside header {
		padding: 0 2.5% 0 0;
		text-align: right;
		h1 {
			font-size: $font-size * .75;
			line-height: ($font-size * .75) * 1.2;
		}
		h6 {
			font-size: $font-size * .65;
			line-height: ($font-size * .65) * 1.2;
		}
	}
	img.obj {
		width: 300px;
		margin-top: ($font-size * .5);
	}
	.add_on {
		@include hardEdge-left;
		background: $wht;
		padding: .5em 0 .5em .2em;
		font-size: $font-size;
		color: $main-grey;
		border: 1px solid darken($wht, 10%);
		height: 2em;
		margin: ($font-size * .5) auto;

		width: auto;
		float: left;
		padding-right: .4em;
	}
	#photoControlGroup {
		float: left;
		margin: 0 0 0 5%;
		width: 38%;
	}
	#photoControlGroup {
		margin: 0;
		width: 50%;
	}
	.wrapper_userInfo {
		@include sidbarWrapper;
		div {
			header + a:link {
				text-align: right;
			}
		}
	}
}

.twitterPostAccount {
	font-size: $font-size * .875;
	span:first-child {
		float: left;
		clear: left;
	}
	input[type="checkbox"] {
		float: left;
		margin: $font-size 0 0 0;
 		&+ span {
			float: left;
			margin: 1em 0 0 2.5%;
		}
	}
}