#userPostsWrapper, #searchPostWrapper, #viewPostsWrapper, #userMessages {

	#userPosts, #postSearchResults, #msgArticles {
		margin: 1em 0;
		background-color: $white;
		padding: 20px;
		border: 1px solid $lt-grey;
		@include rounded-corners;
		.title_row {
			margin: 0;
			margin-bottom: 10px;
			header{
				padding-bottom: 10px;
			}
			#createPostAction {
				p{
					padding-bottom: 15px;
					strong{
						font-weight: 600;
					}
				}
				.btn_green {
					margin-bottom: $leading;
				}

				p.notice_explanation_bubble{
					width: 100%;
					padding-top: 8px;
					padding-bottom: 8px;
					margin-top: 0;
					margin-bottom: 16px;
					border: 1px solid lighten($main-yellow, 20%);
				}
			}
			#postsFilters{
				margin-bottom: 5px;
				padding-bottom: 7px;
				border-bottom: 1px solid $lt-grey;
				a{
					display: inline-block;
					padding: 10px 10px 10px 10px;
					text-decoration: none;
					font-size: $font-size * .9;
					color: $dk-grey;
					border: 1px solid transparent;
					&:hover{
						background-color: lighten($lt-grey, 12%);
						border: 1px solid lighten($lt-grey, 8%);
						@include rounded-corners(3px);
					}
				}
				a.active{
					background-color: lighten($lt-grey, 10%);
					color: $dk-grey;
					border: 1px solid lighten($lt-grey, 5%);
					@include rounded-corners(3px);
				}
			}
			#add_more_networks{
				.col3{
					padding-left: 5px;
					padding-right: 5px;
				}
			}
		}
		.title_row > .col6 > .grey_well{
			margin-bottom: 20px;
		}



	}// end #userPosts, #postSearchResults

}

// Starting node in _post.html.erb
.postArticle{
	border-bottom: 1px solid $lt-grey;
	padding: 8px 0 8px;

	&:hover{
		background-color: lighten($lt-grey, 12%) !important;
	}

	&> a{
		color: $dk-grey;

	}
	.col1{
		text-align: center;
		span{
			font-size: $font-size * .8;
			padding-left: 12px;
			padding-right: 12px;
		}
		.row{
			margin-bottom: 4px;
		}
	}

	.col5{
		padding-left: 15px;
		h4{
			font-weight: 600;
		}
		p{
			font-size: $font-size * .9;
		}

		.secondary{
			margin-top: 10px;
		}
	}
}