#userPostsWrapper, #searchPostWrapper, #viewPostsWrapper, #userMessages {

	#userPosts, #postSearchResults, #msgArticles {
		margin: 1em 0;
		background-color: $white;
		padding: 20px;
		border: 1px solid $lt-grey;
		@include rounded-corners;
		.title_row {
			margin: 0;
			margin-bottom: 10px;
			border-bottom: 1px solid $lt-grey;
			header{
				padding-bottom: 10px;
			}
			#createPostAction {
				p{
					padding-bottom: 15px;
					strong{
						font-weight: 600;
					}
				}
				.btn_green {
					margin-bottom: $leading;
				}
			}
			#postsFilters{
				margin-bottom: 5px;
				a{
					display: inline-block;
					padding: 10px 10px 10px 10px;
					text-decoration: none;
					font-size: $font-size * .9;
					color: $dk-grey;
					border: 1px solid transparent;
					&:hover{
						background-color: lighten($lt-grey, 12%);
						border: 1px solid lighten($lt-grey, 8%);
						@include rounded-corners(3px);
					}
				}
				a.active{
					background-color: lighten($lt-grey, 10%);
					color: $dk-grey;
					border: 1px solid lighten($lt-grey, 5%);
					@include rounded-corners(3px);
				}
			}
		}

		#postArticlesWrapper, #msgArticleWrapper{	
			strong{
				font-weight: 600;
			}
			
			.postArticle{
				border-bottom: 1px solid $lt-grey;
				padding: 8px 0 8px;

				&:hover{
					background-color: lighten($lt-grey, 12%) !important;
				}

				&> a{
					color: $dk-grey;

				}
				

				.col5{
					h4{
						font-weight: 600;
					}
					p{
						font-size: $font-size * .9;
					}

					.secondary{
						margin-top: 10px;
					}
				}
			}

		}// end #postArticlesWrapper

	}// end #userPosts, #postSearchResults

}