.createPost {
	> .row > article {
		margin-top: 1em;
	}
	.add_on {
		@include hardEdge-left;
		background: $wht;
		padding: .5em 0 .5em .2em;
		font-size: $font-size;
		color: $main-grey;
		border: 1px solid darken($wht, 10%);
		height: 2em;
		margin: ($font-size * .275) auto;
		padding-right: .4em;
	}
	#counter_post_hashtag_prefix,
	#counter_post_content {
		color: $main-red;
		position: relative;
		top: ($font-size * .5) + $leading;
		float: right;
	}
	
}

#photoControlGroup {
	label.row {
		margin: 0;
	}
	> .controls.thumbnail > input[type="file"] {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.controls.thumbnail {
		font-size: $font-size;
		margin: ($font-size * .25) auto;
		font-weight: 600;
		text-decoration: underline;

		input{
			border:none;
			background:none;
			font-weight: 600;
			text-decoration:underline;
		}
	}
}

.postSocialAccount {
	header {
		font-size: $font-size * .875;
		line-height: $leading;
	}
	fieldset {
		//border: 1px solid $lt-grey;
		margin: ($font-size * .75) auto;
		//@include rounded-corners(.3em);
		//background: $wht;
		//#{$wk}box-shadow: $btn-shading;
		//#{$ff}box-shadow: $btn-shading;
		//#{$o}box-shadow: $btn-shading;
		//#{$ms}box-shadow: $btn-shading;
		//box-shadow: $btn-shading;
		> label {
			font-size: $font-size * .875;
			line-height: $leading;
			vertical-align: middle;
			span {
				float: left;
				margin: ($font-size * .125) ($font-size * .25) 0 0;
			}
		}
	}
	input[type="checkbox"] {
		//display: none;
		float: left;
		margin: $font-size $font-size 0 0;
		width: auto;
		display: block;
		clear: left;
		padding: ($font-size * .5);
	}
}