// Specfic styles for the posts sidebar
@mixin borderBackgroundCorners{
	background-color: white;
	border: 1px solid #e8e8e8;
	@include rounded-corners(3px);
}
@mixin sidbarWrapper{
	margin-top: 10px;
	padding-left: 10px;
	vertical-align: top;
}

#post {

	#postContent{
		padding: 10px 0px 10px 0px;

		.contentHeader{
			border-bottom: 1px solid $lt-grey;
		}

		.innerHeader {
			padding: 10px 10px 0px 10px;
		}

		#postDetails{
			margin-top: 10px;
			background-color: white;
			padding: 20px;
			border: 1px solid #e8e8e8;
			@include rounded-corners(3px);

			#postInfo{
				vertical-align: top;

				dl{
					margin-top: 10px;
					font-size: $font-size * 1.1;

					dt{
						padding: 5px 5px;
						font-weight: 600;
					}

					dd{
						text-align: right;
						padding: 5px 5px;
					}

					#postStatus.true{
						color: darken($main_green, 20%);
					}
					#postStatus.false{
						color: darken($main_yellow, 20%);
					}
				}

			}

			#postDescription {
				p{
					padding: 15px 5px 5px 5px;
					font-size: $font-size;
				}

			}

		}

		#postReplyWrapper{
			@include sidbarWrapper;
			
			#postReply{
				@include borderBackgroundCorners;
				padding: 20px;

				.contentHeader{
				}

				.innerHeader {
					padding: 0px 0px 10px 0px;

					strong{
						font-weight: 600;
					}
				}

				#postReplyActions{
					padding: 20px 0px 0px 0px;

					.row {
						margin-bottom: 20px;

						.col2{
							min-width: 70px;
						}
					}
			
				}

			}
		}

		#closedPostWrapper{
			@include sidbarWrapper;

			#closedPost{
				@include borderBackgroundCorners;
				padding: 20px;
				text-align: center;

				.innerHeader {
					padding: 0px 0px 10px 0px;
				}

				p{
					font-size: $font-size * 1.2;
				}

				#findSimilar{
					margin-top: 15px;
				}
			}
		}


	}// end #postContent

	#comments{

		&> div {
			@include borderBackgroundCorners;
			padding: 20px;

			#commentContent {

				&> div > p{
					font-size: $font-size * 1.1;
				}

				h3{
					padding: 0px 0px 10px 0px;
					margin: 0px 0px 20px 0px;
					border-bottom: 1px solid $dk-grey;

					strong{
						font-weight: 600;
					}
				}

				.comment{
					border-bottom: 1px solid $lt-grey;
					padding: 4px 0 4px;
					.col1{
						max-width: 90px;
					}

					.col5{
						padding-left: 10px;
						margin-top: 10px;

					}
				}
				hr{
					background-color: green;
				}

			}

			#commentInput{
				margin-top: 20px;

				textarea{
					width: 100%;
				}
			}

			#signUpWrapper{
				margin-top: 20px;
				background-color: $lter-grey;
				border: 1px solid #e8e8e8;
				@include rounded-corners(3px);

				&> div {
					padding: 20px;

					.col2{
						margin-top: 3px;
					}
				}
			}

		}
	}// end #comments

}// end #post