#userPostsWrapper, #searchPostWrapper, #userMessages{

	#user{
		margin-top: 10px;
		padding-left: 10px;
		vertical-align: top;

		#userInner{
			background-color: white;
			border: 1px solid #e8e8e8;
			@include rounded-corners(3px);
			padding: 20px;

			.col4{
				padding-left: 10px;
			}
		}
	}

	#userPosts, #postSearchResults, #msgArticles{
		margin-top: 10px;
		background-color: white;
		padding: 20px;
		border: 1px solid #e8e8e8;
		@include rounded-corners(3px);

		.title_row{
			margin: 0;
			margin-bottom: 10px;
			border-bottom: 1px solid $lt-grey;
			header{
				padding-bottom: 10px;
			}
			.btn_green{
				min-width: 190px;
				margin-bottom: 20px;
			}
			#photoSelectorWrapper{
				.col6{
					text-align: center;
					border-bottom: 1px solid $lt-grey;
					padding-bottom: 5px;
					margin-bottom:15px;
				}
				.col2{
					.row{
						text-align: center;
						img{
							padding: .3em;
  							border: 1px solid #D7D7D7;
  							border-radius: .3em;
  							background-color: #E3E3E3;
							width: 54px;

							&:hover{
								border-color: #B8B8B8;
								background-color: #D8D8D8;
								cursor: pointer;
							}
						}

					}
				}
			}
		}

		#postArticlesWrapper, #msgArticleWrapper{	
			strong{
				font-weight: 600;
			}
			
			.postArticle{
				border-bottom: 1px solid $lt-grey;
				padding: 8px 0 8px;

				.col5{
					h4{
						font-weight: 600;
					}
					p{
						font-size: $font-size * .9;
					}

					.secondary{
						margin-top: 10px;
					}
				}
			}

		}// end #postArticlesWrapper

	}// end #userPosts, #postSearchResults

}