  .createPost {
        article header {
          padding: 0 2.5% 0 0;
          text-align: right;
          h1 {
            font-size: $font-size * .75;
            line-height: ($font-size * .75) * 1.2;
          }
          h6 {
            font-size: $font-size * .65;
            line-height: ($font-size * .65) * 1.2;
          }
        }
      &[role="complementary"] {
        float: none;
        clear: both;
        width: 50%;
      }
  	img.obj {
    	width: 300px;
  	}
}


.twitterPostAccount {
	font-size: $font-size * .875;
	span:first-child {
		float: left;
		clear: left;
	}
	input[type="checkbox"] {
		float: left;
		margin: $font-size 0 0 0;
 		&+ span {
			float: left;
			margin: 1em 0 0 2.5%;
		}
	}
}

#new_post {
	border: 1px solid $lt-grey;
	padding:0 2.5%;
	@include rounded-corners;
	background: #fff;
}

#new_post > .row {
margin: 1.4em auto;
}