// Specfic styles for the posts sidebar
@mixin borderBackgroundCorners{
	background-color: white;
	border: 1px solid #e8e8e8;
	@include rounded-corners(3px);
}

#post {

	#postContent{
		padding: 10px 10px 10px 0px;

		.contentHeader{
			border-bottom: 1px solid $lt-grey;
		}

		.innerHeader {
			padding: 10px 10px 0px 10px;
		}

		#postDetails{
			margin-top: 10px;
			background-color: white;
			padding: 20px;
			border: 1px solid #e8e8e8;
			@include rounded-corners(3px);

			#postInfo{
				vertical-align: top;

				dl{
					margin-top: 10px;
					font-size: $font-size * 1.1;

					dt{
						padding: 5px 5px;
						font-weight: 600;
					}

					dd{
						text-align: right;
						padding: 5px 5px;
					}
				}

			}

			#postDescription {
				dl{
					font-size: $font-size * 1.1;

					dt{
						padding: 5px 5px;
						font-weight: 600;
					}

					dd{
						padding: 5px 5px;
					}
				}

			}

		}

		#postReplyWrapper{
			margin-top: 10px;
			padding-left: 10px;
			vertical-align: top;
			
			#postReply{
				background-color: white;
				padding: 20px;
				border: 1px solid #e8e8e8;
				@include rounded-corners(3px);

				.contentHeader{
					//border-bottom: 1px solid $lt-grey;
				}

				.innerHeader {
					padding: 20px;
				}

				#postReplyActions{
					padding: 20px 0 20px;

					.row {
						margin-bottom: 20px;
					}
			
				}

			}
		}


	}// end #postContent

	#comments{

		.row {
			margin-top: 25px;
		}

		#signUpWrapper{
			@include borderBackgroundCorners;
			padding: 20px;
		}
	}// end #comments

}// end #post