.invite_wrapper {
	article > div.col4.offset1 {
		background: url('heroimages/slinggit_icons_183x350.png') no-repeat 0 0;
		padding: 22px 12px 122px 0;
	//	@include rounded-corners(3px);
		text-align: right;
		p.row {
//			color: $main-blue;
			text-align: right;
			margin: 12px 0 0 0;
			letter-spacing: .03em;
			text-rendering: optimizelegibility;
		}
	}
	h2.nixie {
		color: $main-blue;
		#{$ff}text-shadow: 0 2px 3px rgba(0,0,0,.5);
		#{$o}text-shadow: 0 2px 3px rgba(0,0,0,.5);
		#{$ms}text-shadow: 0 2px 3px rgba(0,0,0,.5);
		#{$wk}text-shadow: 0 2px 3px rgba(0,0,0,.5);
		text-shadow: 0 2px 3px rgba(0,0,0,.5);
		//border-bottom: 1px solid $main-blue;
		padding: 0 10px 14px 0;
		text-rendering: optimizelegibility;
	}
	.row.grey_well {
			margin: 1.8em auto;
			p {
				line-height: 1.8em;
				padding-left: 2.8em;
			}
			label {
				font-size: 1.6em;
				margin: 1.2em 0 0 0;
				color: $main-blue;
				padding-left: 2.8em;
			}
		}
		
		.invite_footer a {
			text-indent: -9999px;
			margin: 0 0 0 $font-size;
		}
	}