.invite_wrapper {
	article > div.col4.offset1 {
		background: url('heroimages/invite_trike_638x424.jpg') no-repeat 0 -115px;
		padding: 22px 12px;
		@include rounded-corners(3px);
		text-align: right;
		p.row {
			color: $lt-grey;
			text-align: center;
			margin: 12px 0 0 0;
			letter-spacing: .03em;
			text-rendering: optimizelegibility;
		}
	}
	h2.nixie {
		color: $wht;
		#{$ff}text-shadow: 0 2px 3px rgba(0,0,0,.75);
		#{$o}text-shadow: 0 2px 3px rgba(0,0,0,.75);
		#{$ms}text-shadow: 0 2px 3px rgba(0,0,0,.75);
		#{$wk}text-shadow: 0 2px 3px rgba(0,0,0,.75);
		text-shadow: 0 2px 3px rgba(0,0,0,.75);
		border-bottom: 1px solid $dk_grey;
		padding: 0 10px 14px 0;
		text-rendering: optimizelegibility;
	}
	.row.grey_well {
			margin: 1.8em auto;
			p {
				line-height: 1.8em;
				padding-left: 2.8em;
			}
			label {
				font-size: 1.6em;
				margin: 1.2em 0 0 0;
				color: $main-blue;
				padding-left: 2.8em;
			}
		}
		
		.invite_footer a {
			text-indent: -9999px;
			margin: 0 0 0 $font-size;
		}
	}