// small handheld device
@media all and (min-width: 320px) and (max-width: 640px) {
	body > header:first-child .logo {
	width: 136px;
	}
	body > header:first-child {
		position: fixed;
		height:auto;
		.logo h6 {
		top: -10px;
		left: 107px;
		}
		nav {
			margin: .7em 0 0 0;
		 span {
			float: none;
			}
			#accountDropDown {
			float: none;
			width: 100%;
			}
		}
		#quickSearchWrapper {
			display: none;
		}
	}
	.page_contentContainer {
		padding-top: 9em;
	}
	.page_contentContainer header {
	margin: 0 0 3.4em 0;
	}
	.page_contentContainer header p {
	line-height: 1em;
	margin: -1.975em 0 0 0.045em;
	}
	.page_contentContainer .posts article:last-child {
	display: none;
	}
	.page_contentContainer .posts article:first-child {
	float: left;
	width: 100%;
	}
	input[type="text"].hardEdge-right {
	width: 48%;	
	}
	.wrapper {
	width: 95%;
	margin: 0 auto;
	}
	.page_contentContainer .twoCol:first-child {
	margin: 1.4em auto;
	border-bottom: 1px solid #F8F8F8;
	padding: 0 5%;
	box-shadow: 0 1px 0 rgba(62, 62, 62, .2);
	}
	.page_contentContainer .twoCol {
	width: 100%;
	float: none;
	display: block;
	}
	.page_contentContainer .form_initialFields input[type="text"], .page_contentContainer .form_initialFields input[type="email"], .page_contentContainer .form_initialFields input[type="password"], .page_contentContainer .form_hiddenFields input[type="text"], .page_contentContainer .form_hiddenFields input[type="email"], .page_contentContainer .form_hiddenFields input[type="password"] {
	width: 94%;
	float: left;
	}
}
//end