// TYPOGRAPHY
$main-font: 'helvetica neue', helvetica, arial, sans-serif;
$txt-shdw: 0 1px 0 rgba(0, 0, 0, .2);
$padding: .4em .6em;
$font-size: 1.6em;
$leading: ($font-size * .8 );

//COLUMN WIDTH
$sixCols: 16.66666667%;

// COLOR VARIABLES
$main-grey: rgb(119, 119, 119);
$main-red: rgb(253, 65, 40);
$main-yellow: rgb(255, 183, 40);
$main-blue: rgb(72, 141, 226);
$main-green: rgb(75, 192, 75);
$twitter-blue: rgb(0, 172, 237);

$black: rgb(0,0,0);
$lt-grey: rgb(219, 219, 219);
$dk-grey: rgb(62, 62, 62);
$wht: rgb(248, 248, 248);
$white: rgb(255,255,255);

// VENDOR PREFIXES
$ff: -moz-;
$wk: -webkit-;
$ms: -ms-;
$o: -o-;

// TRANSITIONS
$tranny: all .3s ease;
@mixin transition($tranny){
  #{$ff}transition: $tranny;
  #{$wk}transition: $tranny;
  #{$o}transition: $tranny;
  #{$ms}transition: $tranny;
  transition: $tranny;
}

// INPUT FIELDS
$input-txt-shading: inset 0 1px 0 rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .8);
$input-focus-shdw: 0 0 8px rgba(72, 141, 226, .5);
$btn-shading: 0 1px 1px rgba(0, 0, 0, .25), inset 0 1px 1px rgba(255, 255, 255, .25);
$btn-txt-shading: 0 -1px 0 rgba(0, 0, 0, .25), 0 0 8px rgba(255, 255, 255, .25);
$btn-focus: inset 0 0 1px rgba(0, 0, 0, .25), 0 0 2px rgba(255, 255, 255, .75);
$btn-focus-txt: 0 1px 0 rgba(0, 0, 0, .25), 0 0 8px rgba(0, 0, 0, .25);
$btn-active: inset 0 0 1px rgba(0, 0, 0, .5), 0 0 2px rgba(255, 255, 255, .75);
$btn-active-txt: 0 0 8px rgba(0, 0, 0, .75);

@mixin textInput {
	padding: .5em 0;
	font-size: $font-size;
	font-family: $main-font;
	color: $main-grey;
	border: 1px solid $lt-grey;
	box-shadow: $input-txt-shading;
	text-indent: .2em;
	height: 2em;
}

// BORDER RADIUS
$radius: .15em;
$side-tl: top-left;
$side-bl: bottom-left;
$side-tr: top-right;
$side-br: bottom-right;
@mixin rounded-corners($radius) {
	#{$ff}border-radius: $radius;
	#{$wk}border-radius: $radius;
	border-radius: $radius;
}
@mixin hardEdge-right {
	@include rounded-corners(0);
	#{$ff}border-#{$side-tl}-radius: $radius;
	#{$wk}border-#{$side-tl}-radius: $radius;
	border-#{$side-tl}-radius: $radius;
	#{$ff}border-#{$side-bl}-radius: $radius;
	#{$wk}border-#{$side-bl}-radius: $radius;
	border-#{$side-bl}-radius: $radius;
}
@mixin hardEdge-left {
	@include rounded-corners(0);
	#{$ff}border-#{$side-tr}-radius: $radius;
	#{$wk}border-#{$side-tr}-radius: $radius;
	border-#{$side-tr}-radius: $radius;
	#{$ff}border-#{$side-br}-radius: $radius;
	#{$wk}border-#{$side-br}-radius: $radius;
	border-#{$side-br}-radius: $radius;
}
@mixin hardEdge-top {
	@include rounded-corners(0);
	#{$ff}border-#{$side-br}-radius: $radius;
	#{$wk}border-#{$side-br}-radius: $radius;
	border-#{$side-br}-radius: $radius;
	#{$ff}border-#{$side-bl}-radius: $radius;
	#{$wk}border-#{$side-bl}-radius: $radius;
	border-#{$side-bl}-radius: $radius;
}
@mixin hardEdge-bottom {
	@include rounded-corners(0);
	#{$ff}border-#{$side-tr}-radius: $radius;
	#{$wk}border-#{$side-tr}-radius: $radius;
	border-#{$side-tr}-radius: $radius;
	#{$ff}border-#{$side-tl}-radius: $radius;
	#{$wk}border-#{$side-tl}-radius: $radius;
	border-#{$side-tl}-radius: $radius;
}

// -- SHADOWS -- 
$head-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 -1px 0 rgba(255, 255, 255, 0.25), inset 0 3px 13px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, .15);
$foot-shadow: 0 -1px 1px rgba(0, 0, 0, .25), inset 0 1px 0 rgba(255, 255, 255, .5);
