.invite_wrapper {
	article > .col3 {
		h2.nixie {
			color: $main-blue;
			#{$ff}text-shadow: 0 1px 4px rgba(0,0,0,.25);
			#{$o}text-shadow: 0 1px 4px rgba(0,0,0,.25);
			#{$ms}text-shadow: 0 1px 4px rgba(0,0,0,.25);
			#{$wk}text-shadow: 0 1px 4px rgba(0,0,0,.25);
			text-shadow: 0 1px 4px rgba(0,0,0,.25);
			padding: 0 10px 14px 12px;
			text-rendering: optimizelegibility;
		}
		h3.row,
		p.row {
			padding: 0 0 0 12px;
			line-height: $leading;
			letter-spacing: .03em;
			text-rendering: optimizelegibility;
		}
	}
 	article > .col3.grey_well {
		margin-top: .6em;
		p {
			text-align: center;
		}
		ul {
			margin-top: 1em;
			padding-top: 1em;
			border-top: 1px solid $lt-grey;
		}
	}
	.row.grey_well {
			margin: 1.8em auto;
			p {
				line-height: 1.8em;
				padding-left: 2.8em;
			}
			label {
				font-size: 1.6em;
				margin: 1.2em 0 0 0;
				color: $main-blue;
				padding-left: 2.8em;
			}
		}
		
		.invite_footer a {
			text-indent: -9999px;
			margin: 0 0 0 $font-size;
		}
	}