.homepage {
	.home_featurePost {
		margin: ($font-size * .5) auto;
		h1 {
			border-bottom: 1px solid $lt-grey;
			margin-bottom: ($font-size * .25);
			padding-bottom: ($font-size * .125);
		}
	}
	.row > .col6 > .row > .col4.pull_left.white_well {
		margin-top: 1em;
	}
	.homeSignedIn > .col4 > .row:last-child {
		font-size: $font-size * .75;
		line-height: $leading;
		margin-top: $font-size;
		a {
			color: $main-blue;
			span {
				color: $main-grey;
			}
		}
	}
	.homeNotSignedIn {
		.col4.pull_left.white_well {
			margin-top: 1em;
		}
		h1.headline {
			font-size: $font-size * 2.375;
			#{$ff}text-shadow: 0 1px 0 rgba($black, .15);
			#{$wk}text-shadow: 0 1px 0 rgba($black, .15);
			text-shadow: 0 1px 0 rgba($black, .15);
			text-align: center;
			& + h2 {
				font-size: $font-size;
			}
		}
		.homeBuckets {
			@include sidebarWrapper;
			h1.headline {
				font-size: $font-size;
				background: lighten($lt-grey, 5%);
				#{$wk}box-shadow: $input-txt-shading;
				#{$ff}box-shadow: $input-txt-shading;
				box-shadow: $input-txt-shading;
				border: 1px solid $lt-grey;
				color: $main-blue;
				padding-top: $font-size * .25;
				@include rounded-corners;
			}
			article {
				margin: $leading/2 auto;
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
}