// Specfic styles for the posts sidebar
#post{
	background-color: $white;
	@include rounded-corners(3px);
	//border: 1px solid $lt-grey;
	padding: 10px 0px 10px 0px;

	.contentHeader{
		border-bottom: 1px solid $lt-grey;
	}

	.innerHeader {
		padding: 10px 10px 0px 10px;
	}

	.postDetails{
		margin-top: 10px;

		.postInfo{
			vertical-align: top;

			dl{
				margin-top: 10px;
				padding: 10px;
				font-size: $font-size * .9;

				dt{
					padding: 5px 5px;
					font-weight: 600;
				}

				dd{
					padding: 5px 5px;
				}
			}

		}


	}

}
#comments{
	margin-top: 20px;
}

#postReply{

	vertical-align: top;
	margin-top: 20px;
	background-color: $white;
	@include rounded-corners(3px);
	border: 1px solid $lt-grey;

	.contentHeader{
		border-bottom: 1px solid $lt-grey;
	}

	.innerHeader {
		padding: 20px;
	}

}
