#newSessionWrapper {
	#forgot_password {
		margin-top: $leading;
		font-size: $font-size * .75;
		line-height: $leading;
		text-align: right;
	}
	#orSignupActions {
		margin-top: $leading;
		p {
			font-size: $font-size;
			line-height: $leading;
			a {
				color: $main-blue;
				border-left: 1px solid $main-grey;
				padding: .375em;
				margin-left: .275em;
			}
		}
	}
}