/*
 *  FILENAME: posts/new
 */

.createPost {
	//> .row > article {
	//	margin-top: 1em;
	//}
	.add_on {
		//@include hardEdge-left;
		//background: $wht;
		//padding: .5em 0 .5em .2em;
		font-size: $font-size;
		color: $main-grey;
		//border: 1px solid darken($wht, 10%);
		height: 2em;
		margin: $smallest-font ($smallest-font * .5);
		//padding-right: .4em;
	}
	#counter_post_hashtag_prefix,
	#counter_post_content {
		color: $main-red;
		position: relative;
		top: ($font-size * .5) + $leading;
		float: right;
	}
	
}

#photoControlGroup {
	label.row {
		margin: 0;
	}
	//> .controls.thumbnail > input[type="file"] {
	//	position: absolute;
	//	top: -9999px;
	//	left: -9999px;
	//}
	.controls.thumbnail {
		font-size: $font-size;
		margin: ($font-size * .25) auto;
		font-weight: 600;
		text-decoration: underline;

		a{
			padding-bottom: 10px;
			text-decoration: underline;
			color: $dk-grey;
		}
	}
	.photoIcon {
		@extend .btnNavSprite;
		height: 32px;
		width: 32px;
		background-position: -224px -119px;
		display: block;
	}
}

.postSocialAccount {
	header {
		font-size: $font-size * .875;
		line-height: $leading;
	}
	fieldset {
		margin: ($font-size * .75) auto;
		> label {
			font-size: $font-size * .875;
			line-height: $leading;
			vertical-align: middle;
			span {
				float: left;
				margin: ($font-size * .125) ($font-size * .25) 0 0;
			}
		}
	}
	input[type="checkbox"] {
		float: left;
		margin: $font-size $font-size 0 0;
		width: auto;
		display: block;
		clear: left;
		padding: ($font-size * .5);
	}
}